.card-activity {
  background-color: $color-gray-lighter;
  display: flex;
  flex-direction: column;
  margin-bottom: $layout-spacing-small;
  margin-top: $layout-spacing-small;
  padding: $layout-spacing-small;
  width: 100%;

  &:first-of-type {
    margin-top: $layout-spacing;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--text {
    margin-bottom: $layout-spacing-small;
    margin-top: $layout-spacing-small;
  }
}
