.card-activity {
  background-color: $color-gray-lighter;
  margin-bottom: $spacing-pixel-small;
  margin-top: $spacing-pixel-small;
  padding: $spacing-pixel-small;
  width: 100%;

  &:first-of-type {
    margin-top: $spacing-pixel-medium;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--text {
    margin-bottom: $spacing-pixel-small;
    margin-top: $spacing-pixel-small;
  }
}
