<article class="card-activity">
  <div class="card-activity--top">
    {% include "elements-image" %}
    <h4 class="card-activity--title">Titel på aktivitet</h4>
  </div>

  <div class="card-activity--bottom">
    <div class="card-activity--text">
      <div class="card-activity--metas">
        {% for activityMeta in cardActivityMetas %}
        <div class="card-activity--meta">
          {% include "elements-activity-meta" %}
        </div>
      {% endfor %}
    </div>
    </div>
    <div class="card-activity--buttons">
      {% for button in cardActivityButtons %}
        <div class="card-activity--button">
          {% include "elements-button" %}
        </div>
      {% endfor %}
    </div>
  </div>
</article>