<article class="card-activity">
  <h4>Titel på aktivitet</h4>
  {% include "elements-image" %}
  <div class="card-activity--text">
    {% include "elements-activity-meta" with {'text': 'dato'} %}
    {% include "elements-activity-meta" with {'text': 'antal tilmeldte'} %}
    {% include "elements-activity-meta" with {'text': 'pris'} %}
  </div>
  <a href="#">Se mere</a>
  <a href="#">Tilmeld</a>
</article>