<article class="card-activity">
  <h4>Titel på aktivitet</h4>
  {% include "elements-image" %}
  <div class="card-activity--text">
    {% include "elements-activity-meta" with {'text': 'dato'} %}
    {% include "elements-activity-meta" with {'text': 'antal tilmeldte'} %}
    {% include "elements-activity-meta" with {'text': 'pris'} %}
  </div>
  {% if userActions %}
    <a href="{{ attribute(link, 'templates-activity') }}">Se mere</a>
    <a href="#">Tilmeld</a>
  {% endif %}
  {% if profileActions  %}
    <a href="#">Slet</a>
    <a href="#">Aktiver</a>
  {% endif %}
  {% if editAction  %}
    <a href="{{ attribute(link, 'templates-profile-activities-edit') }}">Ret opslag</a>
  {% endif %}
</article>