<article class="card-activity">
  <h4>Titel på aktivitet</h4>
  <img class="card-activity--image" src="http://placehold.it/1000x1000" />
  <div class="card-activity--text">
    <p><span>dato: </span> 1. Dec. 2016</p>
    <p><span>antal tilmeldte: </span>20</p>
    <p><span>Pris: </span>200</p>
  </div>
  <a href="#">Se mere</a>
  <a href="#">Tilmeld</a>
</article>