.image-upload {
  position: relative;
  &:hover {
    .image-upload--overlay {
      @include breakpoint($breakpoint-desk) {
        opacity: 1;
      }
    }
  }

  &--overlay {
    background-color: $color-dark-alpha;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;

    &.has-hover {
      @include breakpoint($breakpoint-desk) {
        opacity: 0;
        transition: all .4s;
      }
    }
  }

  /* Hide the file upload, we use the label to trigger it. */
  /* https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
  &--file {
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: .1px;
    z-index: -1;
  }

  &--button {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--info-text {
    text-align: center;
    margin-bottom: 10px;
    color: $color-white;
  }
}
