<div class="image-upload">
  <div class="image-upload--image">
    {% block image %}
      {% include "@elements/images/image.twig" with { image: imageUpload.image } %}
    {% endblock %}
  </div>
  <div class="image-upload--overlay has-hover">
    <div class="image-upload--button">
      {% block content %}
        <input type="file" id="{{ imageUpload.button.name }}" name="{{ imageUpload.button.name }}" class="image-upload--file js-image-upload js-form-file">
        {% include "@elements/buttons/button-label-call-to-action.twig" with { button: imageUpload.button } %}
      {% endblock %}
    </div>
  </div>
</div>
