.card-edit-overlay {
  align-items: center;
  background-color: transparentize($color-black, .1);
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-bottom: $spacing-pixel-small;
  padding-left: $spacing-pixel-small;
  padding-right: $spacing-pixel-small;
  padding-top: $spacing-pixel-small;
  position: absolute;
  width: 100%;
  z-index: 1;

  &--first-button, &--second-button {
    width: 50%;
  }

  &--first-button {
    margin-bottom: $spacing-pixel-xxsmall;
  }
}