<div class="card-edit-overlay">
  <h3 class="is-light is-centered has-no-top-margin">
    {{ cardEditOverlay.title }}
  </h3>
  <div class="card-edit-overlay--first-button">
    {% include "@elements/buttons/button-delete-small.twig" with { button: cardEditOverlay.firstButton } %}
  </div>
  <div class="card-edit-overlay--second-button">
    {% include "@elements/buttons/button-secondary-light-small.twig" with { button: cardEditOverlay.secondButton, jsClass: "js-card-edit-overlay-back" } %}
  </div>
</div>
