{% embed "@layouts/page.twig" %}
  {% block main %}
    {% embed "container.twig" with {class: "has-large-spacing"} %}
      {% block content %}
        <div class="l-heading-section">
          {% include "@modules/heading-with-icon.twig" with { headingWithIcon: register.headingWithIcon, icon: register.headingWithIcon.icon } %}
        </div>

        <div class="l-section has-bottom-margin">
          {% include 'modules-social-buttons' with { socialButtons: register.socialButtons } %}
        </div>

        <div class="l-section has-no-margin">
          {% include "@modules/text-with-icon.twig" with { textWithIcon: register.textWithIconPersonal, icon: register.textWithIconPersonal.icon } %}
        </div>

        <div class="l-cols">
          <div class="l-col half desk-up">
            <div class="l-section has-bottom-margin is-tight">
              {% include "elements-form-label" with { formLabel: { label: "Fornavn" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'firstname' } %}
            </div>
          </div>
          <div class="l-col half desk-up">
            <div class="l-section has-bottom-margin is-tight">
              {% include "elements-form-label" with { formLabel: { label: "Efternavn" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'lastname' } %}
            </div>
          </div>
        </div>

        <div class="l-cols">
          <div class="l-col half desk-up">
            <div class="l-section has-bottom-margin is-tight">
              {% include "elements-form-label" with { formLabel: { label: "Email" } } %}
              {% include "elements-text-field" with {'type': 'email', 'name': 'email' } %}
            </div>
          </div>
          <div class="l-col half desk-up">
            <div class="l-section has-bottom-margin is-tight">
              {% include "elements-form-label" with { formLabel: { label: "Adgangskode" } } %}
              {% include "elements-text-field" with {'type': 'password', 'name': 'password' } %}
            </div>
          </div>
        </div>

        <div class="l-cols">
          <div class="l-col half desk-up">
            <div class="l-section has-bottom-margin is-tight">
              {% include "elements-form-label" with { formLabel: { label: "Postnummer" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'postalcode' } %}
            </div>
          </div>
        </div>

        <div class="l-section has-bottom-margin is-tight">
          <p>Husk at læse <a href="#">betingelserne</a>.</p>
        </div>

        <div class="l-section has-no-margin is-tight">
          <div class="layout inline-block">
            {% include "@elements/buttons/button-call-to-action.twig" with { button: register.registerButton } %}
          </div>
          <div class="layout inline-block">
            {% include "@elements/buttons/button-secondary-dark.twig" with { button: register.haveAccountButton } %}
          </div>
        </div>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
