.card-activity {
  display: flex;
  flex-direction: column;
  color: $color-white;
  width: 100%;
  text-decoration: none;
  transition: all .4s;

  &.has-hover {
    &:hover {
      opacity: 0.95;
    }
  }

  &--top {
    position: relative;
  }

  &--image-container {
    // Keeps aspect-ratio of div (16:9)
    width: 100%;
    padding-bottom: 56.25%;
  }

  &--image {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }

  &--bottom {
    background-color: $color-black-light;
    padding: $spacing-pixel-small;
  }

  &--title {
    margin: 0;
    font-size: $font-size-large;
    position: absolute;
    background-color: $color-dark-alpha;
    bottom: 0;
    width: 100%;
    padding-left: $spacing-pixel-small;
    padding-right: $spacing-pixel-small;
    padding-top: $spacing-pixel-xsmall;
    padding-bottom: $spacing-pixel-xsmall;
  }

  &--metas {
    display: flex;
    flex-wrap: wrap;
  }

  &--meta {
    width: 50%;

    &:nth-child(-n+2) {
      margin-bottom: $spacing-pixel-xxsmall;
    }
  }

  &--buttons {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-pixel-small;
  }

  &--button {
    width: 48%;
  }
}
