.help-box {
  @include arrow(darken($color-blue-background, 6%), "top");
  align-items: center;
  background-color: darken($color-blue-background, 6%);
  border-radius: $border-radius;
  display: flex;
  margin-top: $spacing-pixel-small;
  padding: $spacing-pixel-small;
  position: relative;

  &--title {
    font-size: $font-size-normal;
    font-weight: 600;
    margin-bottom: $spacing-pixel-tiny;
    margin-top: 0;
  }

  &--description {
    color: $color-dark-alpha;
    font-size: $font-size-normal;
    margin-bottom: 0;
    margin-top: 0;
  }
}