<label class="radio">
    <div class="radio--label">{{ radio.label }}</div>
  {% block content %}
    <input type="radio" name="{{ radio.name }}">
  {% endblock %}
  <div class="radio--indicator"></div>
</label>