.radio {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: $spacing-pixel-xsmall;
  padding-bottom: $spacing-pixel-small;
  padding-left: $spacing-pixel-xxsmall;
  padding-right: $spacing-pixel-xxsmall;
  padding-top: $spacing-pixel-small;
  position: relative;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 0;
    min-width: 300px;
    width: auto;
  }

  input {
    opacity: 0;
    z-index: -1;
  }

  &--indicator {
    background-color: $color-white;
    border: 2px solid $color-border-dark;
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /* Show check mark */
  input:checked ~ .radio--indicator:after {
    background: $color-black-lightest;
    display: block;
  }

  /* Hover state whilst checked */
  &:hover input:not([disabled]):checked ~ .radio--indicator,
  input:checked:focus ~ .radio--indicator {
    border: 2px solid $color-green-dark;
  }

  /* Checked state */
  input:checked ~ .radio--indicator {
    background-color: $color-white;
	  border: 2px solid $color-green-dark;
  }

  /* Radio button inner circle */
  &--indicator:after {
	  border-radius: 50%;
    content: "";
    height: 16px;
    left: 16px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
  }

  &--label {
    margin-left: $spacing-pixel-medium;
    position: relative;
    z-index: 1;
  }

  &:before {
    border: 2px solid $color-border-dark;
    border-radius: 50%;
    content: "";
    height: 20px;
    left: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    z-index: 10;
  }
}