  <div class="textarea">
    <textarea class="textarea--input" cols="40" rows="8" name="{{ textArea.name }}" id="{{ textArea.name }}" placeholder="{{ textArea.placeholder }}">{{ textArea.value }}</textarea>
  </div>