.header {
  background-color: $color-white;
  box-shadow: inset 0px -1px 0px 0px $color-border-dark;
  display: flex;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1;

  &--inner {
    @include layout-wrapper($breakpoint-bigscreen);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }

  &--navigation {
    color: $color-white;
    display: flex;
    list-style: none;
  }

  &--navigation-item {
    margin-right: $spacing-pixel-small;
  }

  &--logo {
    align-items: center;
    display: flex;
    margin-top: 7px;
  }

  &--logo-inner {
    width: 120px;
  }

  &--logo-dark {
    display: block;
  }

  &--logo-light {
    display: none;
  }

  &.is-fixed {
    position: fixed;
  }

  &.is-transparent {
    background-color: transparent;
    box-shadow: none;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;

    .header--logo-dark {
      display: none;
    }

    .header--logo-light {
      display: block;
    }
  }
}