<header class="header {{ class }} {{ transparent ? 'is-transparent' }}">
  <div class="header--inner">
    <div class="header--logo">
      <div class="header--logo-inner">
        <div class="header--logo-light">
        {% block logo_light %}
          {% include "@elements/images/logo-light.twig" %}
        {% endblock %}
        </div>
        <div class="header--logo-dark">
        {% block logo_dark %}
          {% include "@elements/images/logo-dark.twig" %}
        {% endblock %}
        </div>
      </div>
    </div>
    {% block header %}
      {% include "@modules/navigation.twig" with { transparent: transparent } %}
    {% endblock %}
  </div>
</header>
