<footer class="footer">
  <div class="footer--content">
    {% block content %}

      {% include "@modules/footer-block.twig" %}

      {% embed "@modules/footer-menu.twig" %}
        {% block title %}
          {% include "@elements/headings/footer-heading.twig" with {footerMenuHeading: footerMenuHeading} %}
        {% endblock %}
        {% block links %}
          {% include "@elements/footer-menu-link.twig" with {footerMenuItems: footerMenuItems} %}
        {% endblock %}
      {% endembed %}

      {% embed "@modules/footer-menu.twig" %}
        {% block title %}
          {% include "@elements/headings/footer-heading.twig" with {footerMenuHeading: footerMenuSecondaryHeading} %}
        {% endblock %}
        {% block links %}
          {% include "@elements/footer-menu-link.twig" with {footerMenuItems: footerMenuSecondaryItems} %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  </div>
</footer>