{% extends "templates-site" %}
{% block content %}
  <form>
    <h2>Overskrift og tekst</h2>
    {% include "elements-text-field" with {'type': 'text', 'name': 'headline', value: 'Eksempel overskrift', 'label': 'Overskrift', 'placeholder': 'Skriv en overskrift' } %}
    {% include "elements-textarea" with {'name': 'headline', 'label': 'Beskrivelse', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum.', 'placeholder': 'Skriv beskrivelse her', 'cols': '40', 'rows': '8' } %}
    {% include "elements-checkbox" with {'name': 'registration-required', 'label': 'Tilmeldingspligt' } %}
    <h2>De vigtigste egenskaber</h2>
    {% include "elements-selectbox" with {'name': 'participation-level', 'label': 'Hvilket niveau kræver det at deltage?', options: [ 'Kom som du er', 'lettere øvet', 'øvet' ] } %}
    {% include "elements-text-field" with {'type': 'text', 'name': 'participants', 'value': '20', 'label': 'Antal deltagere', 'placeholder': 'Indtast antal' } %}
    {% include "elements-selectbox" with {'name': 'physical-level', 'label': 'Kræver det et særligt fysisk niveau?', options: [ 'Ingen fysisk forudsætning', 'i nogenlunde form', 'i god form' ] } %}
    {% include "elements-selectbox" with {'name': 'help', 'label': 'Brug for en hjælpende hånd?', options: [ 'Ingen hjælp påkrævet', 'Kunne godt bruge en hånd', 'Alle er velkomne til at hjælpe' ] } %}
    <h2>Kategori og emner</h2>
    <h3>Kategorier</h3>
    {% include "elements-checkbox" with {'name': 'category-sport', 'label': 'Sport og fritid' } %}
    {% include "elements-checkbox" with {'name': 'category-fundraising', 'label': 'Indsamling' } %}
    {% include "elements-checkbox" with {'name': 'category-childcare', 'label': 'Pasning' } %}
    <a href="#">Skriv forslag til nye kategorier</a>
    <h3>Emner</h3>
    {% include "elements-checkbox" with {'name': 'subject-sedantary', 'label': 'Stillesidende' } %}
    {% include "elements-checkbox" with {'name': 'subject-green-fingers', 'label': 'Grønne fingre' } %}
    {% include "elements-checkbox" with {'name': 'subject-loud', 'label': 'Højtråbende' } %}
    <a href="#">Skriv forslag til nye emner</a>
    <h3>Billede</h3>
    {% include "elements-image" with {'class': 'has-margin', 'src': 'http://placehold.it/500x500'} %}
    <p>{% include "elements-button" with {'class': 'is-primary', 'title': 'Upload billede'} %}</p>
    <h3>Praktisk information</h3>
    <h4>Sted og tidspunkt</h4>
    {% include "elements-text-field" with {'type': 'text', 'name': 'date', 'value': '24-12-2016', 'label': 'Dato', 'placeholder': '24-12-2016' } %}
    {% include "elements-text-field" with {'type': 'text', 'name': 'time-from', 'value': '09:00', 'label': 'Tidspunkt fra', 'placeholder': '12:00' } %}
    {% include "elements-text-field" with {'type': 'text', 'name': 'time-to', 'value': '12:00', 'label': 'Tidspunkt til', 'placeholder': '15:00' } %}
    <h4>Kontaktoplysninger</h4>
    {% include "elements-text-field" with {'type': 'text', 'name': 'contact-name', 'value': 'Eksempel navn', 'label': 'Navn', 'placeholder': 'Indtast navn' } %}
    {% include "elements-text-field" with {'type': 'text', 'name': 'contact-email', 'value': 'eksempel@mail.dk', 'label': 'Email', 'placeholder': 'Indtast email' } %}
    {% include "elements-text-field" with {'type': 'text', 'name': 'price', 'value': '50', 'label': 'Eventuelt pris', 'placeholder': 'Indtast pris' } %}
  </form>
  {% include "elements-button" with {'class': 'is-primary', 'title': 'Gem', 'href': attribute(link, 'templates-activity')} %}
{% endblock %}