<section class="activities">
  <h4>Aktiviteter i nærheden af dig (Aarhus)</h4>
  <a href="#">Er det ikke i nærheden a dig?</a>
  {% include "modules-card-activity" %}
  {% include "modules-card-activity" %}
  {% include "modules-card-activity" %}
  {% include "modules-card-activity" %}
  <a href="#">Se alle aktiviteter</a>
</section>