.activities {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: $layout-spacing;
  padding-bottom: $layout-spacing;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;
}