.guidelines {
  &--item {
    border-bottom: 1px solid $color-border-light;
    margin-top: $spacing-pixel-large;
    padding-bottom: $spacing-pixel-large;

    &:first-child {
      border-top: 1px solid $color-border-light;
      padding-top: $spacing-pixel-large;
    }
  }

  &--title {
    color: $color-yellow;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
  }
}