<section class="guidelines">
  <h2>Hvordan laver du det bedste aktivitetsopslag?</h2>
  <p>Denne sektion skal indeholde en information omkring hvordan du laver et godt aktivitetsopslag. Strukturen på sektionen er endnu ikke fastlagt, da indholdet i denne sektion ikke er fastlagt. Strukturen er derfor midlertidig og bliver omstruktureret når indholdet er fastlagt.</p>
  <p>Sektionen kan eventuelt indeholde punklister.</p>
  <ul>
    <li>Dette er det første punkt i listen</li>
    <li>Dette er det andet punkt i listen</li>
    <li>Dette er det tredje punkt i listen</li>
  </ul>
  <p>Der kan også være en guideline til, hvordan man skal bruge billeder.</p>
  {% include "elements-image" with {'class': 'has-margin', 'src': 'http://placehold.it/500x500'} %}
</section>