{% extends "templates-page" %}
{% block hero %}{% endblock %}
{% block main %}
  <div class="container has-spacing">

    <div class="l-heading-section">
      {% include 'modules-heading-with-icon' with { headingWithIcon: activityList.headingWithIcon, icon: activityList.headingWithIcon.icon } %}
      {% include 'modules-activity-action' with { activityAction: activityList.activityAction, button: activityList.activityAction.button } %}
    </div>
  
    <div class="grid">
      <div class="grid--inner">
        {% for item in activities %}
          <article class="grid--item">
            {% include "modules-card-activity" with { cardActivity: item } %}
          </article>
        {% endfor %}
      </div>
    </div>

  </div>
{% endblock %}