{% embed "@layouts/grid-full.twig" %}
  {% block items %}
    {% embed "@layouts/grid-item.twig" %}
      {% block content %}
        {% embed "@layouts/grid-item-header-section.twig" %}
          {% block content %}

            {% include "@modules/heading-with-icon.twig" with { headingWithIcon: login.headingWithIcon, icon: login.headingWithIcon.icon } %}

          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}


{# @TODO
  Add social buttons.

  {% include "@modules/social-buttons.twig" with { socialButtons: login.socialButtons } %}

  {% include "@modules/text-with-icon.twig" with { textWithIcon: login.textWithIcon, icon: login.textWithIcon.icon } %}
#}

{% embed "@layouts/grid-halfs.twig" %}
  {% block items %}
    {% embed "@layouts/grid-item.twig" %}
      {% block content %}

        <form{{ attributes.removeClass('user-login-form') }}>
          {{ children }}
          {# @TODO
            Add create user button.

            {% include "@elements/buttons/button-secondary-dark.twig" with { button: login.noAccountButton } %}
          #}
          {# @TODO
            Add "Remember me" functionality, maybe we can use https://www.drupal.org/project/persistent_login.

            {% include "@elements/forms/checkbox.twig" with {'checkbox': { "label": "Husk mig", class: "borderless" } } %}
          #}
        </form>

      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
