@mixin layout-wrapper($breakpoint, $spacing: $spacing-percent-xlarge) {
  margin-left: $spacing;
  margin-right: $spacing;

  @include breakpoint($breakpoint) {
    margin-left: auto;
    margin-right: auto;
    /* Make sure there is spacing when viewing the site at a sepcific breakpoint, e.g. a resolution of 2000px and
       max-width 2000px won't leave any space. */
    max-width: $breakpoint - ($breakpoint * .04);
    width: 100%;
  }
}
