.heading-meta {
  font-size: $font-size-small;
  font-weight: 700;
  margin-bottom: $spacing-pixel-tiny;
  margin-top: 0;
  width: 100%;


  &.is-dark {
    color: $color-dark-alpha;
  }

  &.is-light {
    color: $color-light-alpha;
  }
}