<footer class="footer">
  <div class="footer--content">
    <div class="footer--col">
      <div class="footer--col-inner">
        <h3 class="footer--title">Kontakt</h3>
        <p class="footer--text">Genlyd Aarhus</p>
        <p class="footer--text">Sundhed og Omsorg</p>
        <p class="footer--text">Søren Frichs Vej 36M</p>
        <p class="footer--text">8230 Åbyhøj</p>
        <div class="footer--logo">
          {% include 'elements-logo-aarhus' %}
        </div>
      </div>
    </div>

    <div class="footer--col">
      <div class="footer--col-inner">
        <h3 class="footer--title">Om Genlyd Aarhus</h3>
        <a class="footer--link" href="#">
          {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-white has-small-margin" } } %}
          <span>Hvad er Genlyd</span>
        </a>
        <a class="footer--link" href="#">
          {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-white has-small-margin" } } %}
          <span>Om Genlyd puljen</span>
        </a>
        <a class="footer--link" href="#">
          {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-white has-small-margin" } } %}
          <span>Få hjælp til opslag</span>
        </a>
      </div>
    </div>

    <div class="footer--col">
      <div class="footer--col-inner">
        <h3 class="footer--title">Aktiviteter</h3>
        <a class="footer--link" href="#">
          {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-white has-small-margin" } } %}
          <span>Aktuelle aktiviteter</span>
        </a>
        <a class="footer--link" href="#">
          {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-white has-small-margin" } } %}
          <span>Login</span>
        </a>
        <a class="footer--link" href="#">
          {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-white has-small-margin" } } %}
          <span>Tilmeld</span>
        </a>
        <a class="footer--link" href="#">
          {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-white has-small-margin" } } %}
          <span>Opret aktivitet</span>
        </a>
      </div>
    </div>
  </div>
</footer>