<ul class="demo-colors">
  <li>
    <span class="demo-colors--swatch is-black"></span>
    <span class="demo-colors--label is-black"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-white"></span>
    <span class="demo-colors--label is-white"></span>
  </li>
</ul>
