{% if cardActivity.edit %}
  <div class="card-activity">
    <div class="card-activity--overlay">
      <p class="card-activity--overlay-warning">
        Er du sikker på du vil slette aktiviten?
      </p>
      <div class="card-activity--overlay-buttons">
        {% include "elements-button" with { button: { class: "is-delete is-small is-full-width", "href": "#", "title": "Slet" } } %}
        {% include "elements-button" with { button: { class: "is-secondary is-small is-light is-full-width action-back", "href": "#", "title": "Tilbage" } } %}
      </div>
    </div>
{% else %}
  <a href="#" class="card-activity has-hover">
{% endif %}

  <div class="card-activity--top">
    <div class="card-activity--image-container">
      <div class="card-activity--image">
        {% include "elements-image" with { image: cardActivity.image } %}
      </div>
    </div>
    <h4 class="card-activity--title">{{ cardActivity.title }}</h4>
  </div>

  <div class="card-activity--bottom">
    <div class="card-activity--text">
      <div class="card-activity--metas">
        {% for activityMeta in cardActivity.activityMetas %}
        <div class="card-activity--meta">
          {% include "elements-activity-meta" %}
        </div>
      {% endfor %}
      </div>
    </div>

    {% if cardActivity.edit %}
      <div class="card-activity--buttons">
        {% for button in cardActivity.editButtons %}
          <div class="card-activity--button">
            {% include "elements-button" %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

{% if cardActivity.edit %}
  </div>
{% else %}
  </a>
{% endif %}
