<div class="help-box">
  <div class="help-box--icon">
    {% include 'elements-icon' with { icon: { "class": "is-small is-green-dark", "type": "speechbubble", color: "light" } } %}
  </div>
  <div>
    <p class="help-box--title">{{ helpBox.title }}</p>
    <p class="help-box--description">{{ helpBox.description }}</p>
  </div>
</div>