.guidelines {
  &--headings {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-pixel-small;
  }

  &--item {
    border-bottom: 1px solid $color-border-dark;
    margin-top: $spacing-pixel-small;
    padding-bottom: $spacing-pixel-small;
    padding-top: $spacing-pixel-small;

    @include breakpoint($breakpoint-desk) {
      padding-bottom: $spacing-pixel-large;
      padding-top: $spacing-pixel-large;
    }

    &:first-child {
      border-top: 1px solid $color-border-dark;
      padding-top: $spacing-pixel-small;
      margin-top: 0;

      @include breakpoint($breakpoint-tablet) {
        margin-top: $spacing-pixel-medium;
        padding-top: $spacing-pixel-large;
      }
    }
  }

  &--title {
    margin: 0;
  }

  &--text {
    margin: 0;
  }
}