.guidelines {
  &--headings {
    display: flex;
    align-items: center
  }

  &--item {
    border-bottom: 1px solid $color-border-dark;
    margin-top: $spacing-pixel-large;
    padding-bottom: $spacing-pixel-large;

    &:first-child {
      border-top: 1px solid $color-border-dark;
      padding-top: $spacing-pixel-large;
    }
  }
}