<header class="header is-transparent">
  <div class="container">
      <div class="header--logo">
        <div class="header--logo-inner">
          {% include "elements-logo-light" %}
        </div>
      </div>
    </div>
</header>