.header {
  background-color: $color-white;
  display: flex;
  height: 60px;
  width: 100%;

  &--inner {
    @include layout-wrapper($breakpoint-bigscreen);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &--navigation {
    display: flex;
    color: $color-white;
    list-style: none;
  }

  &--navigation-item {
    margin-right: $spacing-pixel-small;
  }

  &--logo {
    display: flex;
    align-items: center;
    margin-top: $spacing-pixel-tiny;
  }

  &--logo-inner {
    width: 120px;
  }

  &.is-fixed {
    position: fixed;
  }

  &.is-transparent {
    background-color: transparent;
    height: 80px;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;

    .header--inner {
      border-bottom: 1px solid transparentize($color-white, 0.80);
    }

    .header--logo-inner {
      width: 120px;

      @include breakpoint($breakpoint-lap) {
        width: 130px;
      }
    }

  }
}