.radio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: $spacing-pixel-small;
  padding-top: $spacing-pixel-small;
  padding-left: $spacing-pixel-xxsmall;
  padding-right: $spacing-pixel-xxsmall;
  width: 100%;
  margin-bottom: $spacing-pixel-xsmall;

  &:last-child {
    margin-bottom: 0;
  }
  
  @include breakpoint($breakpoint-tablet) {
    width: auto;
    min-width: 300px;
    margin-right: $spacing-pixel-small;
    margin-bottom: 0;
  }

  input {
    z-index: -1;
    opacity: 0;
  }

  &--indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $color-border-dark;
    border-radius: 10px;
    background-color: $color-white;

  }

  /* Show check mark */
  input:checked ~ .radio--indicator:after {
    display: block;
    background: $color-black-lightest;
  }
  
  /* Hover state whilst checked */
  &:hover input:not([disabled]):checked ~ .radio--indicator,
  input:checked:focus ~ .radio--indicator {
    border: 2px solid $color-green-dark;
  }

  /* Checked state */
  input:checked ~ .radio--indicator {
    background-color: $color-white;
	  border: 2px solid $color-green-dark;
  }

  /* Radio button inner circle */
  &--indicator:after {
	  content: '';
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 16px;
	  height: 16px;
	  border-radius: 50%;
  }

  &--label {
    position: relative;
    z-index: 1;
    margin-left: $spacing-pixel-medium;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    left: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $color-border-dark;
    z-index: 10;
  }
}