<section class="guidelines">
  <div class="layout flex center">
    {% include 'modules-heading-with-icon' %}
  </div>
  <div class="guidelines--items">
    <div class="l-two-col guidelines--item">
      <div class="l-two-col--left-col">
        <div class="guidelines--headings">
          <div class="guidelines--icon">
            {% include 'elements-icon' with { icon: { type: "checkmark-bold", class: "is-small is-green-dark", color: 'light' } } %}
          </div>
          <h3 class="guidelines--title">Hvad er Genlyd?</h3>
        </div>
      </div>
      <div class="l-two-col--right-col">
        <p class="guidelines--text">Phasellus fermentum nulla vestibulum erat euismod accumsan. Praesent ac efficitur dui. Aliquam commodo ipsum a libero tempus accumsan. Nam elit orci, aliquam et vestibulum sodales, pharetra a dolor. </p>
      </div>
    </div>
    <div class="l-two-col guidelines--item">
      <div class="l-two-col--left-col">
        <div class="guidelines--headings">
          <div class="guidelines--icon">
            {% include 'elements-icon' with { icon: { type: "checkmark-bold", class: "is-small is-green-dark", color: 'light' } } %}
          </div>
          <h3 class="guidelines--title">Hvordan giver jeg genlyd?</h3>
        </div>
      </div>
      <div class="l-two-col--right-col">
        <p class="guidelines--text">Sed euismod, odio in sollicitudin mattis, ipsum lorem fermentum turpis, non ornare nunc mauris nec nibh. Quisque quis ornare felis. Etiam dignissim ipsum massa, pharetra mattis turpis pellentesque quis.</p>
      </div>
    </div>
  </div>
</section>