.activity-info {
  margin-left: $spacing-pixel-xxxsmall;
  margin-right: $spacing-pixel-xxxsmall;
  padding-bottom: $spacing-pixel-small;

  &--meta {
    font-weight: 600;
    margin-bottom: $spacing-pixel-xtiny;
    margin-top: 0;
  }

  &--data {
    margin: 0;
  }
}