{% embed "card.twig"  %}
  {% block content %}
    <a href="{{ cardActivity.link }}" class="card-activity--link has-hover">

      {% include "modules-card-header" with { cardHeader: cardActivity.cardHeader } %}

      {% include "modules-card-info" with { class: "has-spacing", cardInfo: cardActivity.cardInfo } %}

    </a>
  {% endblock %}
{% endembed %}