{% embed "card.twig"  %}
  {% block content %}
    <a href="{{ cardActivity.link }}" class="card-activity--link has-hover">

      {% include "@modules/cards/card-header.twig" with { cardHeader: cardActivity.cardHeader } %}

      {% include "@modules/cards/card-info.twig" with { class: "has-spacing", cardInfo: cardActivity.cardInfo } %}

    </a>
  {% endblock %}
{% endembed %}