<div class="text-with-icon">
  <div class="text-with-icon--icon">
    {% include 'elements-icon' with { icon: textWithIcon.icon } %}
  </div>
  <h3 class="text-with-icon--title">{{ textWithIcon.title }}</h3>
</div>