<div class="text-with-icon">
  <div class="text-with-icon--icon">
    {% include 'elements-icon' with { icon: { type: "checkmark-bold", class: "is-small is-green-dark", color: 'light' } } %}
  </div>
  <h3 class="text-with-icon--title">{{ textWithIcon.title }}</h3>
</div>