{% extends "templates-page" %}
{% block main %}
  <div class="container has-spacing">
    
    <div class="l-heading-section no-spacing">
      {% include 'modules-heading-with-icon' with { headingWithIcon: createStepFour.headingWithIcon, icon: createStepFour.headingWithIcon.icon } %}
    </div>

    <div class="l-section has-bottom-margin">
      {% include 'modules-progress-bar' with { progressBar: createStepFour.progressBar } %}
    </div>

      <div class="l-cols">

        <div class="l-col half tablet-up">
          <div class="l-section has-bottom-margin">  
            {% include "modules-image-upload" %}
          </div>
        </div>

        <div class="l-col half tablet-up">

          <div class="l-section has-no-margin">  
            {% include "modules-text-with-icon" with { textWithIcon: createStepFour.textWithIcon, icon: createStepFour.textWithIcon.icon } %}
          </div>

          <div class="l-section has-no-margin">  
            <p>Her kan du give din aktivitet et billede. Vælg upload billede og tilføj et billede fra din computer.</p>
            {% include "elements-help-box" with { helpBox: createStepFour.helpBox } %}
          </div>

        </div>

      </div>
    
    <div class="l-section">  
      {% include 'modules-create-navigation' %}
    </div>
    
  </div>
{% endblock %}