.text-field {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-pixel-medium;;

  &--label {
    margin-bottom: $spacing-pixel-small;
  }

  &--input {
    padding: $spacing-pixel-small;
  }
}