<div class="footer-block">
  <div class="footer-block--inner">
    <h3 class="footer-block--title">{{ footerBlockTitle }}</h3>
    <div class="footer-block--text">
      {{ footerBlockContent|raw }}
    </div>
    <div class="footer-block--logo">
      {% include "@elements/images/logo-aarhus.twig" %}
    </div>
  </div>
</div>
