{% extends "templates-page" %}
{% block main %}
  <div class="container has-spacing">
    
    {% include 'components-activity-overview' with { activityOverview: activity.activityOverview } %}

      <div class="l-heading-section">
        {% include 'modules-heading-with-icon' with { headingWithIcon: activity.headingWithIconSimilar, icon: activity.headingWithIconSimilar.icon } %}
      </div>
      
      <div class="grid">
        <div class="grid--inner">
          {% for item in activities|slice(0,4) %}
            <article class="grid--item">
              {% include "modules-card-activity" with { cardActivity: item } %}
            </article>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="l-heading-section">
      {% include 'modules-heading-with-icon' with { headingWithIcon: activity.headingWithIconOther, icon: activity.headingWithIconOther.icon } %}
    </div>

    <div class="grid">
      <div class="grid--inner">
        {% for item in activities|slice(4,7) %}
          <article class="grid--item">
            {% include "modules-card-activity" with { cardActivity: item } %}
          </article>
        {% endfor %}
      </div>
    </div>

    <div class="layout flex center">
      {% include "modules-call-to-action" with { callToAction: activity.callToAction } %}
    </div>
  </div>
{% endblock %}