<section class="container">
  <div class="container--inner">
    {% embed "@modules/grid/grid-full.twig" %}
      {% block items %}
        {% embed "@modules/grid/grid-item.twig" %}
          {% block content %}
            {% include "@modules/heading-with-icon.twig" %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}

    {% if rows %}
      {# Render Drupal #}
      {{ rows }}
    {% else %}
      {# Render Pattern Lab #}
      {% embed "@modules/grid/grid-fourths.twig" %}
        {% block items %}
          {% for cardActivity in activities %}
            {% embed "@modules/grid/grid-item.twig" %}
              {% block content %}
                {% include "@components/card-activity.twig" %}
              {% endblock %}
            {% endembed %}
          {% endfor %}
        {% endblock %}
      {% endembed %}
    {% endif %}

    {% embed "@modules/grid/grid-full.twig" %}
      {% block items %}
        {% embed "@modules/grid/grid-item.twig" %}
          {% block content %}
            {% include "@modules/call-to-action.twig" with { callToAction: callToAction } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  </div>
</section>
