<div class="activity-sidebar">
    <div class="l-cols">
      <div class="l-col half all activity-sidebar--col">
        {% include "@elements/activity-info.twig" with { activityInfo: { meta: meta.date_label, data: meta.date }} %}
      </div>
      <div class="l-col half all activity-sidebar--col">
        {% include "@elements/activity-info.twig" with { activityInfo: { meta: meta.price_label, data: meta.price }} %}
      </div>
    </div>
    <div class="l-cols">
      <div class="l-col half all activity-sidebar--col">
        {% include "@elements/activity-info.twig" with { activityInfo: { meta: meta.start_time_label, data: meta.start_time }} %}
      </div>
      <div class="l-col half all activity-sidebar--col">
        {% include "@elements/activity-info.twig" with { activityInfo: { meta: meta.end_time_label, data: meta.end_time }} %}
      </div>
    </div>
    <div class="l-cols">
      <div class="l-col activity-sidebar--col">
        {% include "@elements/activity-info.twig" with { activityInfo: { meta: meta.address_label, data: meta.address }} %}
      </div>
    </div>
    <div class="l-cols">
      <div class="l-col half all activity-sidebar--col">
        {% include "@elements/activity-info.twig" with { activityInfo: { meta: meta.owner_label, data: meta.owner }} %}
      </div>
      <div class="l-col half all activity-sidebar--col">
        {% include "@elements/activity-info.twig" with { activityInfo: { meta: meta.number_of_participants_label, data: meta.number_of_participants }} %}
      </div>
    </div>
    <div class="activity-sidebar--signup">
      {% include '@elements/buttons/button-call-to-action.twig' with { button: meta.signupButton } %}
    </div>
    {% if meta.signupExternalButton %}
    <div class="activity-sidebar--signup">
      {% include '@elements/buttons/button-call-to-action.twig' with { button: meta.signupExternalButton } %}
    </div>
    {% endif %}
    <div class="activity-sidebar--social-share">
      <div class="social-share">
        {% for button in meta.socialShare.buttons %}
          <div class="social-share--button">
            {% include '@elements/buttons/real-button.twig' with { buttonClass: "is-secondary is-dark", jsClass: button.jsClass } %}
          </div>
        {% endfor %}
        {% for link in meta.socialShare.links %}
          <div class="social-share--button">
            {% include '@elements/buttons/button.twig' with { buttonClass: "is-secondary is-dark", button: link } %}
          </div>
        {% endfor %}
      </div>
    </div>
</div>