$breakpoint-sidebar: 1500px;

.activity-sidebar {
  background-color: $color-white;
  padding-bottom: $spacing-pixel-normal;
  padding-left: $spacing-pixel-normal;
  padding-right: $spacing-pixel-normal;
  padding-top: $spacing-pixel-normal;

  &--col {
    // !importants Overrides layout col defaults

    border-bottom: 1px solid $color-border-dark;
    margin-bottom: $spacing-pixel-small !important;

    @media only screen and (max-width: $breakpoint-lap) {
      width: 100% !important;
    }

    @media only screen and (min-width: $breakpoint-desk) and (max-width: $breakpoint-sidebar) {
      width: 100% !important;
    }
  }

  &--signup {
    border-bottom: 1px solid $color-border-dark;
    margin-bottom: $spacing-pixel-small;
    padding-bottom: $spacing-pixel-small;
  }
}