.floating-help {
  align-items: center;
  background-color: $color-green-light;
  border-radius: $border-radius $border-radius 0 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-left: $spacing-pixel-normal;
  margin-right: $spacing-pixel-normal;
  padding-top: $spacing-pixel-xxsmall;
  position: fixed;
  right: 0;
  transform: translateY(320px);
  z-index: 20;

  @include breakpoint($breakpoint-tablet) {
    left: auto;
    margin: 0;
    right: $spacing-percent-xlarge;
  }

  &--button {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-pixel-xxxsmall;
    padding-left: $spacing-pixel-normal;
    padding-right: $spacing-pixel-normal;
  }

  &--title {
    font-size: $font-size-normal;
    font-weight: 600;
    margin-bottom: $spacing-pixel-tiny;
    margin-top: $spacing-pixel-tiny;
    text-transform: uppercase;
  }

  &--subtitle {
    font-size: $font-size-small;
    margin-bottom: $spacing-pixel-tiny;
    max-width: 280px;
    padding-left: $spacing-pixel-normal;
    padding-right: $spacing-pixel-normal;
    text-align: center;
  }

  &.is-open {
    cursor: auto;
    transform: translateY(0);
  }
}