.help-sidebar {
  background-color: $color-white;
  padding-bottom: $spacing-pixel-normal;
  padding-left: $spacing-pixel-normal;
  padding-right: $spacing-pixel-normal;
  padding-top: $spacing-pixel-normal;
}