<section class="container is-constrained is-dark">
  <div class="container--inner">
    {% embed "@modules/grid/grid-full.twig" %}
      {% block items %}

        {% embed "@modules/grid/grid-item.twig" %}
          {% block content %}

            {% embed "@modules/grid/grid-item-header-section-centered.twig" %}
              {% block items %}

                {% embed "@modules/heading-with-icon.twig" with { headingWithIcon: { title: sectionInfo.title, subtitle: sectionInfo.subtitle } } %}
                  {% block icon %}
                    {% include "@elements/icons/icon-checkmark.twig" %}
                  {% endblock %}
                {% endembed %}

              {% endblock %}
            {% endembed %}

          {% endblock %}
        {% endembed %}

      {% endblock %}
    {% endembed %}

    {% embed "@modules/grid/grid-full.twig" %}
      {% block items %}

        {% embed "@modules/grid/grid-item.twig" %}
          {% block content %}

            {% for item in sectionInfo.items %}

              {% embed "@modules/grid/grid-item-header-section.twig" %}
                {% block content %}

                  {% embed "@modules/grid/grid-two-thirds-reversed.twig" %}
                    {% block items %}

                      {% embed "@modules/grid/grid-item.twig" %}
                        {% block content %}

                          {% embed "@modules/section-info.twig" %}

                            {% block icon %}
                              {% include "@elements/icons/icon-arrow-dark-green-small.twig" %}
                            {% endblock %}
                            {% block title %}
                              {{ item.title }}
                            {% endblock %}

                          {% endembed %}

                        {% endblock %}
                      {% endembed %}

                      {% embed "@modules/grid/grid-item.twig" %}
                        {% block content %}

                          {{ item.description }}

                        {% endblock %}
                      {% endembed %}
                    {% endblock %}
                  {% endembed %}

                {% endblock %}
              {% endembed %}

            {% endfor %}

            {% embed "@modules/grid/grid-item-section-centered.twig" %}
              {% block items %}

                {% include "@modules/call-to-action.twig" with { callToAction: callToAction } %}

              {% endblock %}
            {% endembed %}

          {% endblock %}
        {% endembed %}

      {% endblock %}
    {% endembed %}
  </div>
</section>