@mixin layout-wrapper($breakpoint, $spacing: $spacing-percent-xlarge) {
  margin-left: $spacing;
  margin-right: $spacing;

  @include breakpoint($breakpoint) {
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing;
    padding-right: $spacing;
    max-width: $breakpoint;
  }
}

.container {
  @include layout-wrapper($breakpoint-bigscreen);

  &.has-spacing {
    padding-bottom: $spacing-pixel-medium;
    padding-top: $spacing-pixel-medium;

    @include breakpoint($breakpoint-desk) {
      padding-bottom: $spacing-pixel-xxlarge;
      padding-top: $spacing-pixel-xxlarge;
    }
  }
}

/* Helpers
   ========================================================================== */

.layout {
  &.flex {
    display: flex;
  }

  &.center {
    justify-content: center;
  }

  &.col {
    flex-direction: column;
  }

  &.margin-top {
    margin-top: $spacing-pixel-large;
  }
}

/* Layouts
   ========================================================================== */

// Heading section with border

.l-heading-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $spacing-pixel-large;
  border-bottom: 1px solid $color-border-dark;
  padding-bottom: $spacing-pixel-normal;

  @include breakpoint($breakpoint-tablet) {
    flex-direction: row;
  }
}

// Two coloumn layout

$two-col-max-width: 1200px;

.l-two-col {
  display: flex;
  flex-direction: column;
  max-width: $two-col-max-width;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($breakpoint-tablet) {
    flex-direction: row;
  }


  &--left-col {
    @include breakpoint($breakpoint-tablet) {
      width: 30%;
      margin-right: $spacing-pixel-medium;
    }
  }

  &--right-col {
    @include breakpoint($breakpoint-tablet) {
      width: 70%;
    }
  }

}