{% embed "page.twig" %}
  {% block main %}
  <div class="container has-large-spacing">
    <div class="l-heading-section">
      {% include 'modules-heading-with-icon' with { headingWithIcon: forgotPassword.headingWithIcon, icon: forgotPassword.headingWithIcon.icon } %}
    </div>

    <div class="l-cols">
      <div class="l-col half tablet-up">
        <div class="l-section has-bottom-margin is-tight">
          {% include "elements-form-label" with { formLabel: { label: "Indtast email" } } %}
          {% include "elements-text-field" with {'type': 'text', 'name': 'username' } %}
        </div>
      </div>
    </div>

    <div class="l-section has-no-margin is-tight">
      <div class="layout inline-block">
        {% include "@elements/buttons/button-call-to-action.twig" with { button: forgotPassword.button } %}
      </div>
    </div>
  </div>
  {% endblock %}
{% endembed %}