<div class="icon {{ icon.class }} ">
  {% block content %}
    {% if icon.type == "location" %}
      {% if icon.color == "light" %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#fff" d="M20 29c-.5 0-1-.3-1.3-.8L14.5 21c-1.8-3.1-.9-7.2 2.1-9 1-.6 2.2-1 3.4-1 2.3 0 4.5 1.2 5.6 3.3 1.1 2 1.2 4.4 0 6.4v.1l-4.3 7.5c-.3.4-.8.7-1.3.7zm0-17c-1 0-2 .3-2.9.8-2.5 1.5-3.3 5-1.7 7.6l4.2 7.3c.1.3.3.3.4.3.1 0 .3 0 .4-.3l4.3-7.4v-.1c1-1.7 1-3.8 0-5.5C23.8 13.1 22 12 20 12z"/>
          <path fill="#fff" d="M20 20c-1.4 0-2.5-1.1-2.5-2.5S18.6 15 20 15s2.5 1.1 2.5 2.5S21.4 20 20 20zm0-4c-.8 0-1.5.7-1.5 1.5S19.2 19 20 19s1.5-.7 1.5-1.5S20.8 16 20 16z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#231815" d="M20 29c-.5 0-1-.3-1.3-.8L14.5 21c-1.8-3.1-.9-7.2 2.1-9 1-.6 2.2-1 3.4-1 2.3 0 4.5 1.2 5.6 3.3 1.1 2 1.2 4.4 0 6.4v.1l-4.3 7.5c-.3.4-.8.7-1.3.7zm0-17c-1 0-2 .3-2.9.8-2.5 1.5-3.3 5-1.7 7.6l4.2 7.3c.1.3.3.3.4.3.1 0 .3 0 .4-.3l4.3-7.4v-.1c1-1.7 1-3.8 0-5.5C23.8 13.1 22 12 20 12z"/>
          <path fill="#231815" d="M20 20c-1.4 0-2.5-1.1-2.5-2.5S18.6 15 20 15s2.5 1.1 2.5 2.5S21.4 20 20 20zm0-4c-.8 0-1.5.7-1.5 1.5S19.2 19 20 19s1.5-.7 1.5-1.5S20.8 16 20 16z"/>
        </svg>
      {% endif %}

    {% elseif icon.type == "checkmark-bold" %}
      {% if icon.color == "light" %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#fff" stroke="#fff" stroke-width="1" d="M19.1 24.7c-.7 0-1.3-.3-1.8-.7l-2.7-2.7c-.2-.2-.2-.5 0-.7s.5-.2.7 0l2.7 2.7c.3.3.7.4 1.1.4.4 0 .8-.2 1.1-.4l6.4-6.6c.2-.2.5-.2.7 0 .2.2.2.5 0 .7L20.9 24c-.4.4-1.1.7-1.8.7z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#231815" stroke="#231815" stroke-width="1" d="M19.1 24.7c-.7 0-1.3-.3-1.8-.7l-2.7-2.7c-.2-.2-.2-.5 0-.7s.5-.2.7 0l2.7 2.7c.3.3.7.4 1.1.4.4 0 .8-.2 1.1-.4l6.4-6.6c.2-.2.5-.2.7 0 .2.2.2.5 0 .7L20.9 24c-.4.4-1.1.7-1.8.7z"/>
        </svg>
      {% endif %}

    {% elseif icon.type == "cross-bold" %}
      {% if icon.color == "light" %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#fff" stroke="#fff" stroke-width="1" d="M25 25.5c-.1 0-.3 0-.4-.1l-10-10c-.2-.2-.2-.5 0-.7s.5-.2.7 0l10 10c.2.2.2.5 0 .7 0 .1-.2.1-.3.1z"/>
          <path fill="#fff" stroke="#fff" stroke-width="1" d="M15 25.5c-.1 0-.3 0-.4-.1-.2-.2-.2-.5 0-.7l10-10c.2-.2.5-.2.7 0s.2.5 0 .7l-10 10c0 .1-.2.1-.3.1z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#231815" stroke="#231815" stroke-width="1" d="M25 25.5c-.1 0-.3 0-.4-.1l-10-10c-.2-.2-.2-.5 0-.7s.5-.2.7 0l10 10c.2.2.2.5 0 .7 0 .1-.2.1-.3.1z"/>
          <path fill="#231815" stroke="#231815" stroke-width="1" d="M15 25.5c-.1 0-.3 0-.4-.1-.2-.2-.2-.5 0-.7l10-10c.2-.2.5-.2.7 0s.2.5 0 .7l-10 10c0 .1-.2.1-.3.1z"/>
        </svg>
      {% endif %}

    {% elseif icon.type == "list-bold" %}
      {% if icon.color == "light" %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#fff" stroke="#fff" d="M24.5 28.5h-9c-1.4 0-2.5-1.1-2.5-2.5V14c0-1.4 1.1-2.5 2.5-2.5h9c1.4 0 2.5 1.1 2.5 2.5v12c0 1.4-1.1 2.5-2.5 2.5zm-9-16c-.8 0-1.5.7-1.5 1.5v12c0 .8.7 1.5 1.5 1.5h9c.8 0 1.5-.7 1.5-1.5V14c0-.8-.7-1.5-1.5-1.5h-9z"/>
          <path fill="#fff" stroke="#fff" d="M23 16.5h-6c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h6c.3 0 .5.2.5.5s-.2.5-.5.5zM23 20.5h-6c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h6c.3 0 .5.2.5.5s-.2.5-.5.5zM23 24.5h-6c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h6c.3 0 .5.2.5.5s-.2.5-.5.5z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#231815" stroke="#231815" stroke-width="1" d="M24.5 28.5h-9c-1.4 0-2.5-1.1-2.5-2.5V14c0-1.4 1.1-2.5 2.5-2.5h9c1.4 0 2.5 1.1 2.5 2.5v12c0 1.4-1.1 2.5-2.5 2.5zm-9-16c-.8 0-1.5.7-1.5 1.5v12c0 .8.7 1.5 1.5 1.5h9c.8 0 1.5-.7 1.5-1.5V14c0-.8-.7-1.5-1.5-1.5h-9z"/>
          <path fill="#231815" stroke="#231815" stroke-width="1" d="M23 16.5h-6c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h6c.3 0 .5.2.5.5s-.2.5-.5.5zM23 20.5h-6c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h6c.3 0 .5.2.5.5s-.2.5-.5.5zM23 24.5h-6c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h6c.3 0 .5.2.5.5s-.2.5-.5.5z"/>
        </svg>
      {% endif %}

    {% elseif icon.type == "info" %}
      {% if icon.color == "light" %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <path fill="#fff" d="M54.8 30.8c0 1.3-.5 2.4-1.5 3.4-1 .9-2.1 1.4-3.5 1.4-.7 0-1.3-.1-1.9-.4-.6-.3-1.1-.6-1.6-1s-.8-.9-1.1-1.5-.4-1.2-.4-1.8c0-.6.1-1.1.4-1.7.3-.6.6-1 1.1-1.5.5-.4 1-.8 1.6-1 .6-.3 1.2-.4 1.9-.4s1.3.1 1.9.4c.6.3 1.1.6 1.6 1s.8.9 1.1 1.4c.3.5.4 1.1.4 1.7zm-.5 37.1c0 1.4-.4 2.5-1.2 3.3-.8.8-1.9 1.3-3.2 1.3-1.3 0-2.4-.4-3.2-1.3-.8-.8-1.2-2-1.2-3.3V45c0-1.4.4-2.5 1.2-3.4.8-.8 1.9-1.3 3.2-1.3 1.3 0 2.4.4 3.2 1.3.8.8 1.2 2 1.2 3.4v22.9z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
          <path fill="#231815" d="M54.8 30.8c0 1.3-.5 2.4-1.5 3.4-1 .9-2.1 1.4-3.5 1.4-.7 0-1.3-.1-1.9-.4-.6-.3-1.1-.6-1.6-1s-.8-.9-1.1-1.5-.4-1.2-.4-1.8c0-.6.1-1.1.4-1.7.3-.6.6-1 1.1-1.5.5-.4 1-.8 1.6-1 .6-.3 1.2-.4 1.9-.4s1.3.1 1.9.4c.6.3 1.1.6 1.6 1s.8.9 1.1 1.4c.3.5.4 1.1.4 1.7zm-.5 37.1c0 1.4-.4 2.5-1.2 3.3-.8.8-1.9 1.3-3.2 1.3-1.3 0-2.4-.4-3.2-1.3-.8-.8-1.2-2-1.2-3.3V45c0-1.4.4-2.5 1.2-3.4.8-.8 1.9-1.3 3.2-1.3 1.3 0 2.4.4 3.2 1.3.8.8 1.2 2 1.2 3.4v22.9z"/>
        </svg>
      {% endif %}

    {% elseif icon.type == "help" %}
      {% if icon.color == "light" %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <circle fill="#fff" cx="50" cy="66.6" r="3.6"/>
          <path fill="#fff" d="M56.9 41.4c.1 2.9-1.6 5.7-4.3 6.8-3 1.2-5.1 4.3-5.1 7.7v1.6h5v-1.6c0-1.3.8-2.6 1.9-3 4.7-1.9 7.7-6.6 7.5-11.6-.3-6.1-5.3-11.1-11.3-11.3-3.3-.2-6.4 1-8.8 3.3-2.4 2.3-3.7 5.3-3.7 8.6h5c0-1.9.8-3.7 2.1-5 1.4-1.3 3.2-2 5.1-1.9 3.6 0 6.4 2.8 6.6 6.4z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <circle fill="#231815" cx="50" cy="66.6" r="3.6"/>
          <path fill="#231815" d="M56.9 41.4c.1 2.9-1.6 5.7-4.3 6.8-3 1.2-5.1 4.3-5.1 7.7v1.6h5v-1.6c0-1.3.8-2.6 1.9-3 4.7-1.9 7.7-6.6 7.5-11.6-.3-6.1-5.3-11.1-11.3-11.3-3.3-.2-6.4 1-8.8 3.3-2.4 2.3-3.7 5.3-3.7 8.6h5c0-1.9.8-3.7 2.1-5 1.4-1.3 3.2-2 5.1-1.9 3.6 0 6.4 2.8 6.6 6.4z"/>
        </svg>
      {% endif %}

    {% elseif icon.type == "chevron" %}
      {% if icon.color == "light" %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#fff" stroke="#fff" stroke-width="3" d="M18 26.5c-.1 0-.3 0-.4-.1-.2-.2-.2-.5 0-.7l4.6-4.6c.6-.6.6-1.5 0-2.1l-4.6-4.6c-.2-.2-.2-.5 0-.7s.5-.2.7 0l4.6 4.6c.5.5.7 1.1.7 1.8s-.3 1.3-.7 1.8l-4.6 4.6H18z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#231815" stroke="#231815" stroke-width="3" d="M18 26.5c-.1 0-.3 0-.4-.1-.2-.2-.2-.5 0-.7l4.6-4.6c.6-.6.6-1.5 0-2.1l-4.6-4.6c-.2-.2-.2-.5 0-.7s.5-.2.7 0l4.6 4.6c.5.5.7 1.1.7 1.8s-.3 1.3-.7 1.8l-4.6 4.6H18z"/>
        </svg>
      {% endif %}

    {% elseif icon.type == "chevron-small" %}
      {% if icon.color == "light" %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 50">
          <path fill="#fff" stroke="#fff" stroke-width="3" d="M18 26.5c-.1 0-.3 0-.4-.1-.2-.2-.2-.5 0-.7l4.6-4.6c.6-.6.6-1.5 0-2.1l-4.6-4.6c-.2-.2-.2-.5 0-.7s.5-.2.7 0l4.6 4.6c.5.5.7 1.1.7 1.8s-.3 1.3-.7 1.8l-4.6 4.6H18z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 50">
          <path fill="#231815" stroke="#231815" stroke-width="3" d="M18 26.5c-.1 0-.3 0-.4-.1-.2-.2-.2-.5 0-.7l4.6-4.6c.6-.6.6-1.5 0-2.1l-4.6-4.6c-.2-.2-.2-.5 0-.7s.5-.2.7 0l4.6 4.6c.5.5.7 1.1.7 1.8s-.3 1.3-.7 1.8l-4.6 4.6H18z"/>
        </svg>
      {% endif %}

    {% elseif icon.type == "user" %}
      {% if icon.color == "light" %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#fff" d="M20.2 20.6c-2.2 0-4-2-4-4.5s1.8-4.5 4-4.5 4 2 4 4.5-1.8 4.5-4 4.5zm0-8c-1.7 0-3 1.6-3 3.5s1.3 3.5 3 3.5 3-1.6 3-3.5-1.3-3.5-3-3.5z"/>
          <path fill="#fff" d="M26.2 27.4c-.3 0-.5-.2-.5-.5v-3.4c0-1.9-1.5-3.4-3.4-3.4H22c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h.4c2.4 0 4.4 2 4.4 4.4v3.4c-.1.3-.3.5-.6.5zM14.2 27.4c-.3 0-.5-.2-.5-.5v-3.4c0-2.4 2-4.4 4.4-4.4h.4c.3 0 .5.2.5.5s-.2.5-.5.5h-.4c-1.9 0-3.4 1.5-3.4 3.4v3.4c0 .3-.2.5-.5.5z"/>
        </svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
          <path fill="#231815" d="M20.2 20.6c-2.2 0-4-2-4-4.5s1.8-4.5 4-4.5 4 2 4 4.5-1.8 4.5-4 4.5zm0-8c-1.7 0-3 1.6-3 3.5s1.3 3.5 3 3.5 3-1.6 3-3.5-1.3-3.5-3-3.5z"/>
          <path fill="#231815" d="M26.2 27.4c-.3 0-.5-.2-.5-.5v-3.4c0-1.9-1.5-3.4-3.4-3.4H22c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h.4c2.4 0 4.4 2 4.4 4.4v3.4c-.1.3-.3.5-.6.5zM14.2 27.4c-.3 0-.5-.2-.5-.5v-3.4c0-2.4 2-4.4 4.4-4.4h.4c.3 0 .5.2.5.5s-.2.5-.5.5h-.4c-1.9 0-3.4 1.5-3.4 3.4v3.4c0 .3-.2.5-.5.5z"/>
        </svg>
      {% endif %}
    {% endif %}
  {% endblock %}
</div>
