.navigation {
  display: none;

  @include breakpoint($breakpoint-desk) {
    align-items: stretch;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    height: 100%;
    margin-left: auto;
  }

  &--item {

    text-decoration: none;
    font-size: $font-size-normal;
    font-weight: 600;

    &:last-child {
      padding-right: 0;
    }

    @include breakpoint($breakpoint-desk) {

      align-items: center;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
    }

    &:hover,
    &.is-active {
      @include breakpoint($breakpoint-desk) {
      }
    }

    &.is-active {
      @include breakpoint($breakpoint-desk) {
      }
    }

    &:not(.is-active):hover {

    }
  }
}