<div class="hamburger-menu--toggle js-hamburger-menu-toggle {{ transparent ? 'is-transparent' }}">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<nav class="hamburger-menu {{ transparent ? 'is-transparent' }}">
  <ul class="hamburger-menu--links">
    <li class="hamburger-menu--group">
    {% for item in navigation.items %}
      <a href="{{ item.url }}" class="hamburger-menu--link">
        {% include "elements-icon" with { icon: { type: "chevron", class: "navigation--icon-transparent is-tiny is-white has-small-margin" } } %}
        {{ item.title }}
      </a>
    {% endfor %}
    </li>
  </ul>
</nav>