<article class="card-activity">
  <div class="card-activity--top">
    {% include "elements-image" %}
    <h4 class="card-activity--title">Titel på aktivitet</h4>
  </div>
  <div class="card-activity--bottom">
    <div class="card-activity--text">
      {% include "elements-activity-meta" with {'text': 'dato'} %}
      {% include "elements-activity-meta" with {'text': 'antal tilmeldte'} %}
      {% include "elements-activity-meta" with {'text': 'pris'} %}
    </div>
    {% if userActions %}
      {% for button in cardActivityButtons %}
        <div class="hero--button">
          {% include "elements-button" %}
        </div>
      {% endfor %}
      <a href="">Se mere</a>
      <a href="#">Tilmeld</a>
    {% endif %}
    {% if profileActions  %}
      <a href="#">Slet</a>
      <a href="#">Aktiver</a>
    {% endif %}
    {% if editAction  %}
      <a href="{{ attribute(link, 'templates-profile-activities-edit') }}">Ret opslag</a>
    {% endif %}
  </div>
</article>