<div class="card-edit-overlay">
  <p class="card-edit-overlay--warning">
    Er du sikker på du vil slette aktiviten?
  </p>
  <div class="card-edit-overlay--buttons">
    {% include "elements-button" with { button: { class: "is-delete is-small is-full-width", "href": "#", "title": "Slet" } } %}
    {% include "elements-button" with { button: { class: "is-secondary is-small is-light is-full-width js-card-edit-overlay-back", "href": "#", "title": "Tilbage" } } %}
  </div>
</div>