<div class="card-actions {{ class }}">
    <div class="card-actions--button">
      {% include "elements-button" with { button: cardActions.firstButton } %}
    </div>
    <div class="card-actions--button">
      {% include "elements-button" with { button: cardActions.secondButton } %}
    </div>
</div>