.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.card-header {
  position: relative;

  &--image-container {
    // Keeps aspect-ratio of div (16:9)
    width: 100%;
    padding-bottom: 56.25%;
  }

  &--image {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }

  &--content {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
