<div class="card-actions {{ class }}">
    <div class="card-actions--button">
      {% include "@elements/buttons/00-button.twig" with { button: cardActions.firstButton } %}
    </div>
    <div class="card-actions--button">
      {% include "@elements/buttons/00-button.twig" with { button: cardActions.secondButton } %}
    </div>
</div>