<div class="card-header">
  <div class="card-header--image-container">
    <div class="card-header--image">
      {% include "elements-image" with { image: cardHeader.image } %}
    </div>
  </div>
  <h4 class="card-header--title">{{ cardHeader.title }}</h4>
</div>