<div class="card-header">
  <div class="card-header--image-container">
    <div class="card-header--image">
      {% block image %}{% endblock %}
    </div>
  </div>
  <div class="card-header--content">
    {% block content %}{% endblock %}
  </div>
</div>