{% block header %}
  {% include "components-header" %}
{% endblock %}
{% include "modules-hamburger-menu" with { transparent: hamburgerMenu.class } %}

<main class="main">
{% block content %}
  {% block hero %}{% endblock %}
  {% block main %}
    <p>Content goes in here</p>
  {% endblock %}
</main>
{% endblock %}

{% include "elements-floating-help" %}

{% include "components-footer" %}
