.activity-search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-pixel-medium;
  padding-bottom: $spacing-pixel-medium;
  text-align: center;
  border-bottom: 1px solid $color-border-dark;

  @include breakpoint($breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-bottom: $spacing-pixel-small;
  }


  &--title {
    font-size: $font-size-xlarge;
    margin-bottom: $spacing-pixel-small;
    margin-top: 0;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: $spacing-pixel-tiny;
      font-size: $font-size-xlarge;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: $font-size-xlarge;
    }
  }

  &--subtitle {
    font-weight: 400;
    color: $color-dark-alpha;
    margin-top: 0;
    display: none;

    @include breakpoint($breakpoint-tablet) {
      display: block;
    }
  }

  &--location {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint($breakpoint-lap) {
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
    }
  }

  &--location-text {
    display: none;
    color: $color-dark-alpha;
    margin-right: $spacing-pixel-small;

    @include breakpoint($breakpoint-desk) {
      display: block;
    }
  }
}