<section class="hero">
    <h1>Genlyd Aarhus</h1>
    <p>Her skal stå en tekst omkring Genlyd Aarhus</p>
    <a href="{{ attribute(link, 'templates-activities') }}">Find aktivitet</a>
    <a href="{{ attribute(link, 'templates-create') }}">Opret aktivitet</a>
</section>