<section class="hero" style="background-image: url('/assets/images/styleguide/placeholder-hero.png')">
    <div class="hero--content">
      <h1>Velkommen til Genlyd</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="hero--buttons">
        {% for button in heroButtons %}
          <div class="hero--button">
            {% include "elements-button" %}
          </div>
        {% endfor %}
      </div>
    </div>
</section>