{% block header %}
  {% embed "@components/01-global/01-header.twig" %}
    {% if page.header %}
      {% block header %}
        {{ page.header }}
      {% endblock %}
    {% endif %}
  {% endembed %}
  {% if page.hamburger_menu %}
    {{ page.hamburger_menu }}
  {% endif %}
{% endblock %}

{% block hero %}{% endblock %}

<main class="main">
  {% block main %}
  {% endblock %}
</main>

{% block footer %}
  {% include "@components/01-global/02-footer.twig" %}
{% endblock %}
