html {
  height: 100%;
}

body {
  color: $color-black-light;
  display: flex;
  flex-direction: column;
  font: $font;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

a {
  color: $color-black-light;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
