h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;

  &.has-border-dark {
    border-bottom: 1px solid $color-border-dark;
    padding-bottom: $spacing-pixel-small;
  }

  &.has-border-light {
    border-bottom: 1px solid $color-border-light;
    padding-bottom: $spacing-pixel-small;
  }
}