  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/assets/js/hamburger-menu.js"></script>
  <script src="/assets/js/menu.js"></script>
  <script src="/assets/js/filters.js"></script>
  
  </body>
</html>