@mixin buttonHover($buttonColor, $buttonType: 'primary') {
  @if $buttonType == 'secondary-dark' {
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  } @else if $buttonType == 'secondary-light' {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  } @else {
    &:hover {
      background-color: darken($buttonColor, 10%);
    }
  }
}

.button {
  display: inline-block;
  padding-bottom: $spacing-pixel-xxsmall;
  padding-left: $spacing-pixel-small;
  padding-right: $spacing-pixel-small;
  padding-top: $spacing-pixel-xxsmall;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .4s;
  width: 100%;
  text-align: center;

  &.is-primary {
    @include buttonHover($color-blue);

    background-color: $color-blue;
    color: $color-black-light;
  }

  &.is-secondary {
    background-color: transparent;

    &.is-dark {
      @include buttonHover($color-black-light, 'secondary-dark');

      box-shadow:inset 0px 0px 0px 2px $color-black-light;
      color: $color-black-light;
    }

    &.is-light {
      @include buttonHover($color-white, 'secondary-light');

      box-shadow:inset 0px 0px 0px 2px $color-white;
      color: $color-white;
    }
  }
  
  &.is-cta {
    @include buttonHover($color-yellow);

    background-color: $color-yellow;
    color: $color-black-light;
  }

  &.is-small {
    font-size: $font-size-small;
    padding-bottom: $spacing-pixel-xxxsmall;
    padding-left: $spacing-pixel-xsmall;
    padding-right: $spacing-pixel-xsmall;
    padding-top: $spacing-pixel-xxxsmall;
  }

  &.is-xsmall {
    font-size: $font-size-small;
    padding-bottom: $spacing-pixel-tiny;
    padding-left: $spacing-pixel-xxsmall;
    padding-right: $spacing-pixel-xxsmall;
    padding-top: $spacing-pixel-tiny;
  }

  &.is-tiny {
    font-size: $font-size-xsmall;
    padding-bottom: $spacing-pixel-tiny;
    padding-left: $spacing-pixel-xxsmall;
    padding-right: $spacing-pixel-xxsmall;
    padding-top: $spacing-pixel-tiny;
  }
}