.button {
  display: inline-block;
  padding-bottom: $spacing-pixel-small;
  padding-left: $spacing-pixel-small;
  padding-right: $spacing-pixel-small;
  padding-top: $spacing-pixel-small;
  margin-bottom: $spacing-pixel-small;
  margin-top: $spacing-pixel-small;

  &.is-primary {
    background-color: $color-gray-light;
  }
  
  &.is-cta {
    background-color: $color-black;
    color: $color-white;
  }
}