{% embed "page.twig" %}
  {% block main %}
    <div class="container has-large-spacing">
      <div class="l-heading-section">
        {% include 'modules-heading-with-icon' with
          {
            headingWithIcon: profileActivitiesOverview.headingWithIcon,
            icon: profileActivitiesOverview.headingWithIcon.icon
          }
        %}
      </div>

      {% include "modules-text-with-icon" with
        {
          textWithIcon: profileActivitiesOverview.textWithIconActive,
          icon: profileActivitiesOverview.textWithIconActive.icon
        }
      %}

      <div class="grid">
        <div class="grid--inner">
          {% for item in activities|slice(0, 3) %}
            <article class="grid--item">
              {% include "components-card-activity-edit" with { cardActivity: item } %}
            </article>
          {% endfor %}
        </div>
      </div>

      {% include "modules-text-with-icon" with
        {
          textWithIcon: profileActivitiesOverview.textWithIconInactive,
          icon: profileActivitiesOverview.textWithIconInactive.icon
        }
      %}

      <div class="grid">
        <div class="grid--inner">
          {% for item in activities|slice(0, 2) %}
            <article class="grid--item">
              {% include "components-card-activity-edit" with { cardActivity: item } %}
            </article>
          {% endfor %}
        </div>
      </div>

      <div class="layout flex center">
        {% include "modules-call-to-action" with { callToAction: profileActivitiesOverview.callToAction } %}
      </div>

    </div>
  {% endblock %}
{% endembed %}