{% embed "@layouts/page.twig" %}
  {% block main %}
  <div class="container has-large-spacing">
    <div class="l-heading-section">
      {% include 'modules-heading-with-icon' with
        {
          headingWithIcon: profileActivitiesEdit.headingWithIcon,
          icon: profileActivitiesEdit.headingWithIcon.icon
        }
      %}
    </div>

    {% include "modules-text-with-icon" with
      {
        textWithIcon: profileActivitiesEdit.textWithIconHeadline,
        icon: profileActivitiesEdit.textWithIconHeadline.icon
      }
    %}

      <div class="l-form-section">
        {% include "elements-form-label" with { formLabel: { label: "Overskrift" } } %}
        <div class="l-cols">
          <div class="l-col half desk-up">
            {% include "elements-text-field" with {'type': 'text', 'name': 'headline', 'placeholder': '', value: 'Eksempel overskrift' } %}
          </div>
        </div>
      </div>

      <div class="l-form-section">
        {% include "elements-form-label" with { formLabel: { label: "Beskrivelse" } } %}
        {% include "elements-textarea" with {'name': 'headline', 'placeholder': '', value: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum.', 'cols': '40', 'rows': '8' } %}
      </div>

      <div class="l-form-section">
        {% include "elements-form-label" with { formLabel: { label: "Tilmeldingspligt" } } %}
        <div class="l-cols flex-start">
          <div class="l-col one-third desk-up">
            {% include "elements-radio" with { radio: {'name': 'registration-required', 'id': 'registration-required', 'label': 'Der er tilmeldingspligt' }} %}
          </div>
          <div class="l-col one-third desk-up">
            {% include "elements-radio" with { radio: {'name': 'registration-required', 'id': 'registration-not-required', 'label': 'Der er ikke tilmeldingspligt'}} %}
          </div>
        </div>
      </div>

    {% include "modules-text-with-icon" with
      {
        textWithIcon: profileActivitiesEdit.textWithIconProperties,
        icon: profileActivitiesEdit.textWithIconProperties.icon
      }
    %}

    {% include "elements-form-label" with { formLabel: { label: "Hvilket niveau kræver det at deltage?" } } %}
    <div class="l-form-section">
      <div class="l-cols">
        <div class="l-col one-third desk-up">
          {% include "elements-radio" with { radio: {'name': 'participation-level', 'label': 'Kom som du er' }} %}
        </div>
        <div class="l-col one-third desk-up">
          {% include "elements-radio" with { radio: {'name': 'participation-level', 'label': 'Lettere øvet'}} %}
        </div>
        <div class="l-col one-third desk-up">
          {% include "elements-radio" with { radio: {'name': 'participation-level', 'label': 'Øvet'}} %}
        </div>
      </div>
    </div>

    {% include "elements-form-label" with { formLabel: { label: "Kræver det et særligt fysisk niveau?" } } %}
    <div class="l-form-section">
      <div class="l-cols">
        <div class="l-col one-third desk-up">
          {% include "elements-radio" with { radio: {'name': 'physical-level', 'label': 'Ingen fysisk forudsætning' }} %}
        </div>
        <div class="l-col one-third desk-up">
          {% include "elements-radio" with { radio: {'name': 'physical-level', 'label': 'I nogenlunde form'}} %}
        </div>
        <div class="l-col one-third desk-up">
          {% include "elements-radio" with { radio: {'name': 'physical-level', 'label': 'I god form'}} %}
        </div>
      </div>
    </div>

    {% include "elements-form-label" with { formLabel: { label: "Hvor mange kan deltage?" } } %}
    <div class="l-form-section">
      <div class="l-cols">
        <div class="l-col one-third desk-up">
          {% include "elements-text-field" with {'type': 'text', 'name': 'participants', 'label': 'Antal deltagere', 'placeholder': 'Indtast antal' } %}
        </div>
      </div>
    </div>

    {% include "elements-form-label" with { formLabel: { label: "Har du brug for en hjælpende hånd?" } } %}
    <div class="l-form-section">
      <div class="l-cols">
        <div class="l-col one-third desk-up">
          {% include "elements-radio" with { radio: {'name': 'help', 'label': 'Ingen hjælp påkrævet' }} %}
        </div>
        <div class="l-col one-third desk-up">
          {% include "elements-radio" with { radio: {'name': 'help', 'label': 'Kunne godt bruge en hånd'}} %}
        </div>
        <div class="l-col one-third desk-up">
          {% include "elements-radio" with { radio: {'name': 'help', 'label': 'Alle er velkomne til at hjælpe'}} %}
        </div>
      </div>
    </div>

    {% include "modules-text-with-icon" with
      {
        textWithIcon: profileActivitiesEdit.textWithIconCategories,
        icon: profileActivitiesEdit.textWithIconCategories.icon
      }
    %}

    <div class="l-section has-bottom-margin">
    {% embed "@layouts/grid-fourths.twig" %}
      {% block items %}
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Musik" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Mad og fællseskab" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Kurser og læring" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "IT" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Spil" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Natur" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Kunst og Kultur" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Litteratur" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Håndarbejde" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Motion" } } %}
          </article>
          <article class="grid--item">
            {% include "elements-checkbox" with {'checkbox': { "label": "Sport" } } %}
          </article>
        {% endblock %}
      {% endembed %}
      <a href="#">Skriv forslag til nye kategorier</a>
    </div>

    <div class="l-cols">
      <div class="l-col half desk-up">
        {% include "modules-text-with-icon" with
          {
            textWithIcon: profileActivitiesEdit.textWithIconImage,
            icon: profileActivitiesEdit.textWithIconImage.icon
          }
        %}

        <div class="l-form-section">
          {% include 'modules-image-upload' with { imageUpload: profileActivitiesEdit.imageUpload } %}
        </div>

      </div>
      <div class="l-col half desk-up">
        {% include "modules-text-with-icon" with
          {
            textWithIcon: profileActivitiesEdit.textWithIconPractical,
            icon: profileActivitiesEdit.textWithIconPractical.icon
          }
        %}
        <div class="l-cols">
          <div class="l-col half desk-up">
            <div class="l-form-section">
              {% include "elements-form-label" with { formLabel: { label: "Dato" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'date', 'value': '24-12-2016', 'label': 'Dato', 'placeholder': '24-12-2016' } %}
            </div>
          </div>
          <div class="l-col half desk-up">
            <div class="l-form-section">
              {% include "elements-form-label" with { formLabel: { label: "Starttidspunkt" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'time-from', 'value': '09:00', 'placeholder': '12:00' } %}
            </div>
          </div>
        </div>

        <div class="l-cols">
          <div class="l-col half desk-up">
            <div class="l-form-section">
              {% include "elements-form-label" with { formLabel: { label: "Sluttidspunkt" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'time-to', 'value': '12:00', 'placeholder': '15:00' } %}
            </div>
          </div>
          <div class="l-col half desk-up">
            <div class="l-form-section">
              {% include "elements-form-label" with { formLabel: { label: "Eventuel pris" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'price', 'value': '50' } %}
            </div>
          </div>
        </div>

        <div class="l-cols">
          <div class="l-col half desk-up">
            <div class="l-form-section">
              {% include "elements-form-label" with { formLabel: { label: "Navn" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'contact-name', 'value': 'Eksempel navn' } %}
            </div>
          </div>

          <div class="l-col half desk-up">
            <div class="l-form-section">
              {% include "elements-form-label" with { formLabel: { label: "Email" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'contact-email', 'value': 'eksempel@mail.dk' } %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="layout flex center">
      {% include "modules-call-to-action" with { callToAction: profileActivitiesEdit.callToAction } %}
    </div>

  </div>
  {% endblock %}
{% endembed %}
