/* stylelint-disable */

$color-black-light:     #28353b;
$color-green-dark:      #0e4f47;
$color-green-light:     #98b788;
$color-blue:            #b5d0d0;
$color-yellow:          #f4cc70;
$color-red:             #ef817c;

$color-white:           #ffffff;
$color-gray-lighter:    #f1f1f1;
$color-gray-light:      #d2d2d2;
$color-gray-dark:       #9c9c9c;
$color-gray-darker:     #6f6f6f;
$color-gray-darkest:    #3a3a3a;
$color-black:           #181715;
