/* stylelint-disable */

$color-white:           #ffffff;
$color-gray-lighter:    #f1f1f1;
$color-gray-light:      #d2d2d2;
$color-gray-dark:       #9c9c9c;
$color-gray-darker:     #6f6f6f;
$color-gray-darkest:    #3a3a3a;
$color-black:           #181715;
