$font-size-xsmall:      75%;
$font-size-small:       85%;
$font-size-medium:      100%;
$font-size-large:       120%;
$font-size-xlarge:      150%;
$font-size-xxlarge:     180%;
$font-size-xxxlarge:    250%;
$font-size-xxxxlarge:   350%;