// Percentage spacing
$spacing-percent-small:   1%;
$spacing-percent-medium:  2%;
$spacing-percent-large:   4%;

// Pixel spacing
$spacing-pixel-small:     20px;
$spacing-pixel-medium:    40px;
$spacing-pixel-large:     80px;
$spacing-pixel-xlarge:    120px;