<div class="image-upload">
  <div class="image-upload--image">
    {% include "elements-image" with { image: imageUpload.image } %}
  </div>
  <div class="image-upload--overlay {{ imageUpload.hover ? 'has-hover' }}">
    <div class="image-upload--button">
      <input type="file" id="{{ imageUpload.button.name }}" name="{{ imageUpload.button.name }}" class="image-upload--file js-image-upload js-form-file">
      {% include "@elements/buttons/button-label-call-to-action.twig" with { button: imageUpload.button } %}
    </div>
  </div>
</div>
