{% embed "@layouts/grid.twig" %}
  {% block content %}

    {% embed "@layouts/grid-item.twig" %}
      {% block content %}

        {% include "@modules/activity-hero.twig" with { activityHero: activity.activityHero } %}

      {% endblock %}
    {% endembed %}

  {% endblock %}
{% endembed %}

{% embed "@layouts/grid-two-thirds.twig" %}
  {% block items %}

    {% embed "@layouts/grid-item.twig" %}
      {% block content %}

        {% embed "@layouts/grid.twig" %}
          {% block content %}

            {% embed "@layouts/grid-item.twig" %}
              {% block content %}
                {% include "@modules/text-with-icon.twig" with { textWithIcon: activity.activityOverview.headingWithIconDescription } %}
              {% endblock %}
            {% endembed %}

            {% embed "@layouts/grid-item.twig" %}
              {% block content %}
                {% for category in activity.activityOverview.categories %}
                  {% include "@elements/category.twig" with { category: { text: category } } %}
                {% endfor %}
              {% endblock %}
            {% endembed %}

            {% embed "@layouts/grid-item.twig" %}
              {% block content %}
                {{ activity.activityOverview.body }}

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec neque commodo, rutrum nisi in, dignissim erat. Nullam tortor diam, sodales non urna id, accumsan pulvinar est.</p>
                <p>Duis vel nibh luctus, consectetur magna sed, pharetra quam. Aliquam faucibus diam non ipsum elementum, non imperdiet nunc hendrerit. Aenean in vestibulum purus, viverra ullamcorper orci. Mauris condimentum mi in diam efficitur, in pellentesque arcu viverra.<p>

                <h4>Vigtig information:</h4>
                <ul>
                  <li>tilmeldingspligt</li>
                  <li>niveau</li>
                  <li>hjælp</li>
                </ul>
              {% endblock %}
            {% endembed %}

          {% endblock %}
        {% endembed %}

      {% endblock %}
    {% endembed %}

    {% embed "@layouts/grid-item.twig" %}
      {% block content %}
        {% include "@modules/text-with-icon.twig" with { textWithIcon: activity.activityOverview.headingWithIconDetails, icon: activity.activityOverview.headingWithIconDetails.icon } %}
        {% include "@components/activity-sidebar.twig" %}
      {% endblock %}
    {% endembed %}

  {% endblock %}
{% endembed %}
