<div class="social-share">
  <div class="social-share--button">
    {% include 'elements-button' with { button: { class: "is-secondary is-dark is-full-width", title: "Del på facebook" } } %}
  </div>
  <div class="social-share--button">
    {% include 'elements-button' with { button: { class: "is-secondary is-dark is-full-width", title: "Send via mail" } } %}
  </div>
</div>