<div class="social-share">

    {% for button in socialShare.buttons %}
      <div class="social-share--button">
        {% include 'elements-button-secondary-dark' %}
      </div>
    {% endfor %}

</div>