/* stylelint-disable */

$color-black-light:     #08292f;
$color-black-lighter:   lighten($color-black-light, 5%);
$color-black-lightest:  lighten($color-black-light, 10%);
$color-green-dark:      #004c42;
$color-green-light:     #abc27e;
$color-blue:            #b7cecf;
$color-blue-light:      lighten($color-blue, 5%);
$color-blue-lighter:    lighten($color-blue, 10%);
$color-blue-lightest:   lighten($color-blue, 15%);

$color-blue-background: #F2F7F7;
$color-yellow:          #ffd16c;
$color-red:             #ff8671;

$color-white:           #ffffff;
$color-gray-lightest:   #e9e9e9;
$color-gray-lighter:    #e6e6e6;
$color-gray-light:      #d2d2d2;
$color-gray-dark:       #9c9c9c;
$color-gray-darker:     #6f6f6f;
$color-gray-darkest:    #2b2d2d;
$color-black:           #181715;

$color-light-alpha:     transparentize($color-white, .50);
$color-dark-alpha:      transparentize($color-black-light, .2);

$color-border-light:    transparentize($color-white, .92);
$color-border-dark:     transparentize($color-black, .92);