/* stylelint-disable */

/**
 *
 * Variables
 *
 */

/* Typography
   ================================================================================================================== */

$font-family:       "Open Sans", Arial, sans-serif;
$font:              1em/1.5 $font-family;

$font-size-xtiny:       50%;
$font-size-tiny:        65%;
$font-size-xsmall:      75%;
$font-size-small:       85%;
$font-size-normal:      90%;
$font-size-medium:      100%;
$font-size-large:       120%;
$font-size-xlarge:      150%;
$font-size-xxlarge:     180%;
$font-size-xxxlarge:    200%;
$font-size-xxxxlarge:   350%;