<div class="social-buttons">
  <div class="social-buttons--button">
    {% include "elements-button" with { button: { 'class': 'is-facebook is-full-width', 'title': socialButtons.titleFacebook } } %}
  </div>
  <div class="social-buttons--button">
    {% include "elements-button" with { button: {'class': 'is-google is-full-width', 'title': socialButtons.titleGoogle } } %}
  </div>
</div>