a {
  &:link {
    color: $link-color;
    text-decoration: underline;
  }

  &:visited {
    color: darken($link-color, 5%);
  }

  &:hover {
    color: darken($link-color, 10%);
    text-decoration: none;
  }

  &:focus {
    color: darken($link-color, 10%);
  }
}
