{% extends "templates-activities" %}
{% block search %}
  <div class="grid">
    <div class="grid--inner">
      <div class="grid--item">
        {% include "modules-card-activity" with {userActions: true } %}
      </div>
      <div class="grid--item">
        {% include "modules-card-activity" with {userActions: true } %}
      </div>
      <div class="grid--item">
        {% include "modules-card-activity" with {userActions: true } %}
      </div>
      <div class="grid--item">
        {% include "modules-card-activity" with {userActions: true } %}
      </div>
      <div class="grid--item">
        {% include "modules-card-activity" with {userActions: true } %}
      </div>
      <div class="grid--item">
        {% include "modules-card-activity" with {userActions: true } %}
      </div>
    </div>
  </div>
{% endblock %}