{% extends "templates-page-with-container" %}
{% block main %}
  <h2>Aktiviteter</h2>
  <p>Her kan du se en liste og et kort over aktiviter</p>
  {% include "elements-selectbox" with {'name': 'physical-level', 'label': 'Søg på interesse', options: [ 'Sport og fritid', 'Indsamling', 'Pasning' ] } %}
  {% include "elements-button" with {'class': 'is-primary', 'title': 'Liste', 'href': attribute(link, 'templates-activities-list')} %}
  {% include "elements-button" with {'class': 'is-primary', 'title': 'Kort', 'href': attribute(link, 'templates-activities-map')} %}
  {% block search %}
  {% endblock %}
{% endblock %}