{% extends "templates-site" %}
{% block hero %}
  {% include "modules-hero" %}
{% endblock %}
{% block content %}
  <h2>Aktiviteter i nærheden af dig (Aarhus)</h2>
  <a href="#">Er det ikke i nærheden a dig?</a>
  {% include "modules-card-activity" with {userActions: true } %}
  {% include "modules-card-activity" with {userActions: true } %}
  {% include "modules-card-activity" with {userActions: true } %}
  
  {% include "elements-button" with {'class': 'is-primary', 'title': 'Se alle aktiviteter', 'href': attribute(link, 'templates-activities')} %}
  {% include "components-guidelines" %}
{% endblock %}