{% extends "templates-page-with-container" %}
{% block hero %}
  {% include "modules-hero" %}
{% endblock %}
{% block main %}
  {% include "modules-activity-search" %}
  <div class="grid">
    <div class="grid--inner">
      <article class="grid--item">
        {% include "modules-card-activity" %}
      </article>
      <article class="grid--item">
        {% include "modules-card-activity" %}
      </article>
      <article class="grid--item">
        {% include "modules-card-activity" %}
      </article>
      <article class="grid--item">
        {% include "modules-card-activity" %}
      </article>
      <article class="grid--item">
        {% include "modules-card-activity" %}
      </article>
    </div>
  </div>

  {% include "elements-button" with {'class': 'is-primary', 'title': 'Se alle aktiviteter', 'href': attribute(link, 'templates-activities')} %}
  {% include "components-guidelines" %}
{% endblock %}