{% extends "templates-page-with-container" %}
{% block main %}
  <h2>Få hjælp til opslag</h2>
  <h3>Spørgsmål 1</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum, tellus quis porta rhoncus, mi velit molestie justo, in hendrerit turpis mauris eu magna.</p>
  <h3>Spørgsmål 2</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum, tellus quis porta rhoncus, mi velit molestie justo, in hendrerit turpis mauris eu magna.</p>
  <h3>Spørgsmål 3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum, tellus quis porta rhoncus, mi velit molestie justo, in hendrerit turpis mauris eu magna.</p>
  <h2>Ring eller skriv, hvis du er i tvivl</h2>
  <h3>Livlinie</h3>
  {% include "elements-image" with {'class': 'has-margin', 'src': 'http://placehold.it/500x500'} %}
  <p><a href="#">Kontakt</a></p>
{% endblock %}