{% embed "@templates/page-node.twig" %}
  {% block page_title %}
    <h1>Information om Cookies</h1>
  {% endblock %}
  {% block page_node %}
    <p>En cookie er en tekstfil, der lagres på din computer (eller tilsvarende) for at kunne genkende den. Cookies indeholder oplysninger i anonymiseret form og de kan ikke indeholde virus.</p>
    <h2>Cookies på dette site</h2>
    <p>På dette website anvender vi cookies til at samle statistik om dit besøg. Vi bruger oplysningerne til at forbedre brugeroplevelsen.</p>
    <p>Oplysningerne fra dette sites cookies bliver behandlet af sitets ejer samt ITK, Aarhus Kommune.</p>
    <h2>Fravalg af cookies</h2>
    <p>Hvis du nu eller i fremtiden ønsker at fravælge cookies, kan du gøre dette via dine browser-indstillinger. Hvis du fravælger cookies ved hjælp af dine browser-indstillinger, vil dine besøg ikke blive registreret.</p>
    <p><a href="http://minecookies.org/cookiehandtering">Læs hvordan du fravælger cookies via din browser på minecookies.org</a></p>
    <h2>Hvorfor informerer vi om cookies?</h2>
    <p>Vi informerer om cookies efter <a href="https://www.retsinformation.dk/Forms/R0710.aspx?id=139279">Bekendtgørelse om krav til information og samtykke ved lagring af eller adgang til oplysninger i slutbrugeres terminaludstyr</a>.</p>
  {% endblock %}
{% endembed %}
