html {
  height: 100%;
}

body {
  color: $color-black-light;
  font: $font;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%;
}

.main {
  background-color: $color-blue-background;
  display:flex;
  flex-direction: column;
}
