{% embed "card-header.twig"  %}

  {% block image %}
    {% include "elements-image" with { image: cardHeader.image } %}
  {% endblock %}

  {% block content %}
      <h3 class="is-light has-background-dark-alpha has-no-margin has-padding">{{ cardHeader.title }}</h3>
  {% endblock %}

{% endembed %}