<div class="activity-hero" >
  <div class="activity-hero--content">
    <h1 class="activity-hero--title">{{ activityHero.title }}</h1>
    <p>{{ activityHero.date }}</p>
    <p>{{ activityHero.place }}</p>
  </div>
  <div class="activity-hero--image" style="background-image: url('{{ activityHero.image }}')"></div>
</div>