.activity-hero {
  display: flex;
  
  &--image {
    width: 66.66%;
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 500px;
  }

  &--content {
    width: 33.33%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: $spacing-pixel-medium;
    background-color: $color-black-light;
  }

  &--title {
    @include content-separator();

    flex: 1;
    font-size: $font-size-xxxlarge;
    margin-top: 0;
    font-weight: 600;
    color: $color-white;
  }
}