<div class="progress-bar">
  <ul class="progress-bar--list">
    <li class="progress-bar--list-item is-active">
      <span class="progress-bar--number">1.</span>
      <p class="progress-bar--text">Titel og beskrivelse</p>
    </li>
    <li class="progress-bar--list-item">
      <span class="progress-bar--number">2.</span>
      <p class="progress-bar--text">Vigtig information</p>
    </li>
    <li class="progress-bar--list-item">
      <span class="progress-bar--number">3.</span>
      <p class="progress-bar--text">Billede</p>
    </li>
    <li class="progress-bar--list-item">
      <span class="progress-bar--number">4.</span>
      <p class="progress-bar--text">Detaljer</p>
    </li>
  </ul>
</div>