 <div class="activity-action">
  <p class="activity-action--text">{{ activityAction.text }}</p>
  <div class="activity-action--button">
    {% include "elements-button-call-to-action-small" with { button: activityAction.button, jsClass: "js-filters-toggle" } %}
  </div>
</div>