 <div class="create-navigation">
  <div class="l-cols is-reversed-desk-up">
    <div class="l-col one-fourth desk-up">
      <div class="create-navigation--button">
        {% include "elements-button-call-to-action" with { button: createNavigation.buttonNext } %}
      </div>
    </div>
    <div class="l-col one-fourth desk-up">
      <div class="create-navigation--button">
        {% include "elements-button-secondary-dark" with { button: createNavigation.buttonPrev } %}
      </div>
    </div>
  </div>
</div>