.selectbox {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-pixel-medium;

  &--label {
    margin-bottom: $spacing-pixel-small;
  }

  &--select {
    border-color: $color-gray-light;
  }
}