<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ff6620;"></span>
    <span class="sg-label">
			$primary-color-orange<br />
			#ff6620
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00a485;"></span>
    <span class="sg-label">
			$primary-color-green<br />
			#00a485
		</span>
  </li>
</ul>
