<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">
			$white<br>
			#ffffff
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #f1f1f1;"></span>
    <span class="sg-label">
			$gray-lighter<br>
			#f1f1f1
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #d2d2d2;"></span>
    <span class="sg-label">
			$gray-light<br>
			#d2d2d2
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #9c9c9c;"></span>
    <span class="sg-label">
			$gray-dark<br>
			#9c9c9c
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #6f6f6f;"></span>
    <span class="sg-label">
			$gray-darker<br>
			#6f6f6f
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #181715;"></span>
    <span class="sg-label">
			$black<br>
			#181715
		</span>
  </li>
</ul>
