<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #002f2f;"></span>
    <span class="sg-label">
			$secondary-color-dark-blue<br />
			#002f2f
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #006084;"></span>
    <span class="sg-label">
			$secondary-color-blue<br />
			#006084
		</span>
  </li>
</ul>
