.floating-help {
  align-items: center;
  background-color: $color-green-light;
  border-radius: $border-radius $border-radius 0 0;
  cursor: pointer;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: $spacing-percent-xlarge;
  padding-top: $spacing-pixel-xxsmall;
  transform: translateY(320px);

  &--button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: $spacing-pixel-normal;
    padding-right: $spacing-pixel-normal;
  }

  &--title {
    font-size: $font-size-normal;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }

  &--subtitle {
    font-size: $font-size-small;
    text-align: center;
    padding-left: $spacing-pixel-normal;
    padding-right: $spacing-pixel-normal;
    max-width: 280px;
    margin-bottom: $spacing-pixel-tiny;
  }

  &--info-wrapper {
    background-color: lighten($color-green-light, 5%);
    margin-top: $spacing-pixel-xxsmall;
    padding-bottom: $spacing-pixel-xsmall;
    padding-left: $spacing-pixel-normal;
    padding-right: $spacing-pixel-normal;
    padding-top: $spacing-pixel-xsmall;
    width: 100%;
  }

  &--info-block {
    align-items: center;
    border-bottom: 1px solid $color-border-dark;
    display: flex;
    padding-bottom: $spacing-pixel-xxsmall;
    padding-top: $spacing-pixel-xxsmall;

    &:last-child {
      border: 0;
    }
  }

  &--meta {
   font-size: $font-size-xsmall;
   font-weight: 600;
   margin: 0;
   text-transform: uppercase;
  }

  &--info {
    font-size: $font-size-normal;
    margin: 0;
  }

  &.is-open {
    transform: translateY(0);
      cursor: auto;
  }
}