{% embed "@layouts/page.twig" %}
  {% block header %}
    {% include "components-header" with { transparent: true } %}
  {% endblock %}
  {% block hero %}
    {% include "modules-hero" %}
  {% endblock %}
  {% block main %}
    <div class="container has-spacing">
      <div class="l-heading-section">
        {% include "@modules/heading-with-icon.twig" with { headingWithIcon: home.headingWithIconNewest, icon: home.headingWithIconNewest.icon } %}
      </div>

      {% embed "@layouts/grid-fourths.twig" %}
        {% block items %}
          {% for item in activities %}
            {% embed "@layouts/grid-item.twig" %}
              {% block content %}
                {% include "components-card-activity" with { cardActivity: item } %}
              {% endblock %}
            {% endembed %}
          {% endfor %}
        {% endblock %}
      {% endembed %}

      <div class="layout flex center">
        {% include "modules-call-to-action" with { callToAction: home.activityCallToAction } %}
      </div>

    </div>

    <div class="section is-blue-lightest">
      <div class="container has-spacing">
        {% include "components-section-info" with
          {
            guidelines: home.guidelinesAbout,
            headingWithIcon: home.guidelinesAbout.headingWithIcon,
            icon: home.guidelinesAbout.headingWithIcon.icon
          }
        %}
        <div class="layout has-margin-top">
          {% include 'modules-call-to-action' with { callToAction: home.guidelinesAbout.callToAction } %}
        </div>
      </div>
    </div>

    <div class="container has-spacing">
      <div class="l-heading-section">
        {% include "@modules/heading-with-icon.twig" with { headingWithIcon: home.headingWithIconPopular, icon: home.headingWithIconPopular.icon } %}
      </div>

    {% embed "@layouts/grid-fourths.twig" %}
      {% block items %}
          {% for item in activities %}
            <article class="grid--item">
              {% include "components-card-activity" with { cardActivity: item } %}
            </article>
          {% endfor %}
        {% endblock %}
      {% endembed %}

      <div class="layout">
        {% include 'modules-call-to-action' with { callToAction: home.popularCallToAction } %}
      </div>
    </div>

    <div class="section is-blue-lightest">
      <div class="container has-spacing">
        {% include "components-section-info" with
          {
            guidelines: home.guidelinesPool,
            headingWithIcon: home.guidelinesPool.headingWithIcon,
            icon: home.guidelinesPool.headingWithIcon.icon
          }
        %}
        <div class="layout has-margin-top">
          {% include 'modules-call-to-action' with { callToAction: home.guidelinesPool.callToAction } %}
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}