{% embed "@layouts/page.twig" %}
  {% block main %}

    {% include '@components/activity-overview.twig' with { activityOverview: activity.activityOverview } %}

    <div class="container has-large-spacing">


        <div class="l-heading-section">
          {% include 'modules-heading-with-icon' with { headingWithIcon: activity.headingWithIconSimilar, icon: activity.headingWithIconSimilar.icon } %}
        </div>

        {% embed "@layouts/grid-fourths.twig" %}
          {% block items %}
              {% for item in activities|slice(0,4) %}
                <article class="grid--item">
                  {% include "components-card-activity" with { cardActivity: item } %}
                </article>
              {% endfor %}
          {% endblock %}
        {% endembed %}

      </div>

      <div class="l-heading-section">
        {% include 'modules-heading-with-icon' with { headingWithIcon: activity.headingWithIconOther, icon: activity.headingWithIconOther.icon } %}
      </div>

      {% embed "@layouts/grid-fourths.twig" %}
        {% block items %}
          {% for item in activities|slice(4,7) %}
            <article class="grid--item">
              {% include "components-card-activity" with { cardActivity: item } %}
            </article>
          {% endfor %}
        {% endblock %}
      {% endembed %}

      <div class="layout flex center">
        {% include "modules-call-to-action" with { callToAction: activity.callToAction } %}
      </div>
    </div>
  {% endblock %}
{% endembed %}
