{% embed "@layouts/page.twig" %}
  {% block main %}
  <div class="container has-large-spacing">
    <div class="l-section has-bottom-margin">
      <div class="l-section has-bottom-margin">
        <div class="l-cols">
          <div class="l-col two-third desk-up">
            <div class="l-section has-no-margin">  
              {% include "modules-text-with-icon" with { textWithIcon: help.headingWithIcon, icon: help.headingWithIcon.icon } %}
            </div>
            <h3>Spørgsmål 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum, tellus quis porta rhoncus, mi velit molestie justo, in hendrerit turpis mauris eu magna.</p>
            <h3>Spørgsmål 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum, tellus quis porta rhoncus, mi velit molestie justo, in hendrerit turpis mauris eu magna.</p>
            <h3>Spørgsmål 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum, tellus quis porta rhoncus, mi velit molestie justo, in hendrerit turpis mauris eu magna.</p>
            <h3>Spørgsmål 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum, tellus quis porta rhoncus, mi velit molestie justo, in hendrerit turpis mauris eu magna.</p>
          </div>
          <div class="l-col one-third desk-up">
            <div class="l-section has-no-margin"> 
              {% include "modules-text-with-icon" with { textWithIcon: help.headingWithIconDetails, icon: help.headingWithIconDetails.icon } %}
            </div>
            {% include 'components-help-sidebar' %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endembed %}
