<div class="js-map-tab-map">
  <div class="map activities-map--map">
    <div class="map--inner">
      <div id="mapid" class="map--view">
        <div id="popup"></div>
      </div>
    </div>
  </div>
</div>