{% embed "@layouts/page.twig" %}
  {% block main %}
    {% embed "@layouts/container.twig" with {class: "has-large-spacing"} %}
      {% block content %}
        <div class="l-heading-section">
          {% include 'modules-heading-with-icon' with { headingWithIcon: login.headingWithIcon, icon: login.headingWithIcon.icon } %}
        </div>
        <div class="l-section has-bottom-margin">
          {% include 'modules-social-buttons' with { socialButtons: login.socialButtons } %}
        </div>
        <div class="l-section has-no-margin">
          {% include "modules-text-with-icon" with { textWithIcon: login.textWithIcon, icon: login.textWithIcon.icon } %}
        </div>

        {% embed "@layouts/grid-halfs.twig" %}
          {% block content %}
            <div class="l-section has-bottom-margin is-tight">
              {% include "elements-form-label" with { formLabel: { label: "Brugernavn" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'username' } %}
            </div>
          {% endblock %}
        {% endembed %}

        {% embed "columns.twig" with { columnClass: "half desk-up" } %}
          {% block content %}
            <div class="l-section has-bottom-margin is-tight">
              {% include "elements-form-label" with { formLabel: { label: "Adgangskode" } } %}
              {% include "elements-text-field" with {'type': 'password', 'name': 'password' } %}
            </div>
          {% endblock %}
        {% endembed %}

        {% embed "columns.twig" with { columnClass: "half desk-up" } %}
          {% block content %}
            {% include "elements-checkbox" with {'checkbox': { "label": "Husk mig", class: "borderless" } } %}
          {% endblock %}
        {% endembed %}

        <div class="l-section has-bottom-margin is-tight">
          <p><a href="#">Glemt adgangskode?</a></p>
        </div>

        <div class="l-section has-no-margin is-tight">
          <div class="layout inline-block">
            {% include "@elements/buttons/button-call-to-action.twig" with { button: login.loginButton } %}
          </div>
          <div class="layout inline-block">
            {% include "@elements/buttons/button-secondary-dark.twig" with { button: login.noAccountButton } %}
          </div>
        </div>
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
