<h1>Headline 1</h1>
<h2>Headline 2</h2>
<h3>Headline 3</h3>
<h4>Headline 4</h4>
<p><strong>Strong is used to indicate strong importance</strong></p>
<p><em>This text has added emphasis</em></p>
<p>The <b>b element</b></p>
<p>The <i>i element</i></p>
<p>The <u>u element</u></p>
<p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
<p><s>This text has a strikethrough</s></p>
<p>Superscript<sup>®</sup></p>
<p>Subscript for things like H<sub>2</sub>O</p>
<p><small>This small text is small for for fine print, etc.</small></p>
<p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
<h2>Examples</h2>
<p>A paragraph followed by a headline 2.</p>
<h2>A headline 2 followed by a paragraph.</h2>
<p>This is the paragraph.</p>
<p>A paragraph followed by a headline 3.</p>
<h3>A headline 3 followed by a paragraph.</h3>
<p>This is the paragraph.</p>
<p>A paragraph followed by a headline 4.</p>
<h4>A headline 4 followed by a paragraph.</h4>
<p>This is the paragraph.</p>
<p>A paragraph followed by a headline 2.</p>

