<div class="activity-confirm-info">
  <div class="activity-confirm-info--label">
    {% include "@elements/forms/form-label.twig" with { formLabel: { label: activityConfirmInfo.label } } %}
  </div>
  <p class="activity-confirm-info--value">{{ activityConfirmInfo.value }}</p>
</div>