.activity-confirm-info {
  &--value {
    background-color: $color-gray-lightest;
    border-color: $color-gray-light;
    border-radius: $border-radius;
    border-style: solid;
    border-width: 1px;
    color: $color-gray-darker;
    margin-top: 15px;
    padding: $spacing-pixel-small;
  }
}