.activity-hero {
  position: relative;
  width: 100%;

  &--image {
    background-position: center center;
    background-size: cover;
    height: 300px;
    position: relative;
    width: 100%;

    @include breakpoint($breakpoint-tablet) {
      height: 400px;
    }

    @include breakpoint($breakpoint-desk) {
      height: 600px;
    }
  }

  &--content {
    background-color: $color-dark-alpha;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding-bottom: $spacing-pixel-normal;
    padding-left: $spacing-pixel-normal;
    padding-right: $spacing-pixel-normal;
    padding-top: $spacing-pixel-normal;
    position: absolute;
    width: 100%;
  }

  &--title {
    color: $color-white;
    font-size: $font-size-xlarge;
    font-weight: 600;
    margin: 0;

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-xxlarge;
    }
  }
}