<div class="call-to-action">
  <p class="call-to-action--text">
    {{ callToAction.text }}
  </p>
  <div class="call-to-action--button">
    {% include '@elements/buttons/button-call-to-action.twig' with { button: callToAction.button } %}
  </div>
</div>