<div id="js-cookieterms" class="cookie-message">
  <span>
    {{ text }}.
    <a href="{{ readMoreUrl }}">{{ readMoreText }}</a>.
  </span>
  <span id="js-cookieterms--agree" class="cookieterms--button button is-small is-cta">{{ acceptButtonText }}</span>
</div>
