<div class="filters js-filters">
  {% embed "@modules/grid/grid-fourths.twig" %}
  {% block items %}
  {% endblock %}
  {% endembed %}

  {% if form %}
    {% embed "@modules/grid/grid-item.twig" %}
      {% block content %}
        {{ form.title }}
      {% endblock %}
    {% endembed %}
    {% embed "@modules/grid/grid-item.twig" %}
      {% block content %}
        {{ form.field_zipcode_value }}
      {% endblock %}
    {% endembed %}


    {{ form.field_categories_target_id }}

    {{ form.actions }}

  {% else %}
    {% embed "@modules/grid/grid-fourths.twig" %}
      {% block items %}
        {% for item in filters %}
          {% embed "@modules/grid/grid-item.twig" %}
            {% block content %}
              {% include "@elements/forms/checkbox.twig" with {'checkbox': { "label": item.label } } %}
            {% endblock %}
          {% endembed %}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endif %}
</div>