<section class="hero js-hero" style="background-image: url('{{ hero.image }}')">
  <div class="hero--content-wrapper">
    <div class="hero--content">
      <h1>{{ hero.lead }}</h1>
      <p>{{ hero.sub }}</p>
      <div class="hero--buttons">
        <div class="hero--button">
          {% include "@elements/buttons/button-call-to-action.twig" with { button: hero.cta_button } %}
        </div>
        <div class="hero--button">
          {% include "@elements/buttons/button-secondary-light.twig"  with { button: hero.button } %}
        </div>
      </div>
    </div>
  </div>
</section>
