.profile-image-upload {
  max-width: 300px;

  &--wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &--image-container {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
  }

  &--image {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &--button {
    margin-top: $spacing-pixel-small;
  }

  &--disclaimer {
    color: $color-dark-alpha;
    font-size: $font-size-small;
    text-align: center;
  }
}