.progress-bar {

  background-color: $color-gray-lightest;
  color: transparentize($color-black-light, .2);
  font-weight: 600;

  &--list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--list-item {
    align-items: center;
    border-bottom: 1px solid $color-border-dark;
    border-right: 1px solid $color-border-dark;
    display: flex;
    font-size: $font-size-normal;
    justify-content: center;
    width: 100%;

    &:last-child {
      border-right: 0;
    }

    &.is-not-open {
      color: $color-gray-dark;
    }

    &.is-active {
      background-color: $color-black-light;
      color: $color-white;
    }

    &.progress-bar--with-link {
      color: $color-black;
      text-decoration: none;

      &:hover {
        background-color: $color-gray-light;
      }
    }
  }

  &--with-link a,
  &--with-link a:hover,
  &--with-link a:link,
  &--with-link a:visited,
  &--with-link a:active {
    color: $color-black;
    text-decoration: none;
  }

  &--number {
    @include breakpoint($breakpoint-desk) {
      margin-right: $spacing-pixel-xxxsmall;
    }
  }

  &--text {
    display: none;
    margin-bottom: $spacing-pixel-tiny;
    margin-top: $spacing-pixel-tiny;

    @include breakpoint($breakpoint-desk) {
      display: block;
    }
  } 
}

input[type=submit].progress-bar--submit {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  text-indent: -9999px;
  text-transform: none;
  width: 100%;

  @include breakpoint($breakpoint-desk) {
    color: inherit;
    height: auto;
    margin-bottom: $spacing-pixel-small;
    margin-top: $spacing-pixel-small;
    text-indent: 0;
    width: 100%;
  }
}

input[type=submit].progress-bar--submit:hover {
  background-color: transparent;
  text-transform: none;
}