.signed-up-users {
  overflow: auto;
  width: 100%;

  &--row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &--cell {
    overflow-wrap: break-word;
    padding: $spacing-pixel-xxxsmall;
    width: 49%;
  }
}
