<div class="signed-up-users">
  <div class="signed-up-users--body">
    {% for user in activity.activityOverview.signedUpUsers.users %}
    <div class="signed-up-users--row">
      <div class="signed-up-users--cell">{{ user.username }}</div>
      <div class="signed-up-users--cell">{{ user.first_name }}</div>
      <div class="signed-up-users--cell">{{ user.surname }}</div>
      <div class="signed-up-users--cell">{{ user.email }}</div>
    </div>
    {% endfor %}
  </div>
</div>
