<div class="">
  {% for user in activity.activityOverview.signedUpUsers.users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
    </tr>
  {% endfor %}
</div>
