<div class="social-share">
  {% for button in socialShare.buttons %}
    <div class="social-share--button">
      {% include '@elements/buttons/button-secondary-dark.twig' %}
    </div>
  {% endfor %}
</div>
