{#
/**
 * @file
 * Display of footer
 *
 * Available variables:
 * - footer_text: Rendered html of the footer.
 */
#}
<div class="footer">
  <div class="footer--text">
    {{ footer_text }}
  </div>
</div>
