  <div class="selectbox">
    <select class="selectbox--select" name="{{ name }}" id="{{ name }}">
      {% for option in options %}
        <option class="select--option">{{ option }}</option>
      {% endfor %}
    </select>
  </div>