<label class="checkbox {{ checkbox.class }}">
  <div class="checkbox--label">{{ checkbox.label }}</div>
  {% block content %}
    <input type="checkbox">
  {% endblock %}
  <div class="checkbox--indicator"></div>
</label>