/**
 *
 * Buttons
 *
 */

/* Variables
   ========================================================================== */

$button-xtiny: $spacing-pixel-tiny;
$button-small: $spacing-pixel-small;
$button-xsmall: $spacing-pixel-xsmall;
$button-xxsmall: $spacing-pixel-xxsmall;
$button-xxxsmall: $spacing-pixel-xxxsmall;

@mixin buttonOverride($color, $background-color, $hover-color) {
  background-color: $background-color;
  color: $color;

  &:hover {
    background-color: $hover-color;
  }
}

@mixin buttonPadding($padding-bottom, $padding-left, $padding-right, $padding-top) {
  padding-bottom: $padding-bottom;
  padding-left: $padding-left;
  padding-right: $padding-right;
  padding-top: $padding-top;
}

.button {
  @include buttonOverride($color-white, $color-black-lighter, $color-black-light);
  @include buttonPadding($button-xxsmall, $button-small, $button-small, $button-xxsmall);

  display: inline-block;
  font-weight: 600;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s;
  width: 100%;

  &.is-inactive {
    cursor: default;
    opacity: .5;
    pointer-events: none;
  }

  &.is-primary {
    @include buttonOverride($color-black-light, $color-blue, darken($color-blue, 10%));
  }

  &.is-secondary {
    background-color: transparent;

    &.is-dark {
      @include buttonOverride($color-black-light, "transparent", transparentize($color-black, .9));

      box-shadow: inset 0 0 0 2px $color-black-light;
    }

    &.is-light {
      @include buttonOverride($color-white, "transparent", transparentize($color-white, .9));

      box-shadow: inset 0 0 0 2px $color-white;
    }
  }

  &.is-cta {
    @include buttonOverride($color-black-light, $color-yellow, darken($color-yellow, 10%));
  }

  &.is-delete {
    @include buttonOverride($color-white, $color-red, darken($color-red, 10%));
  }

  &.is-facebook {
    @include buttonOverride($color-white, $color-facebook, darken($color-facebook, 10%));
  }

  &.is-google {
    @include buttonOverride($color-white, $color-google, darken($color-google, 10%));
  }

  &.is-small,
  &.is-xsmall {
    font-size: $font-size-small;
  }

  &.is-small {
    @include buttonPadding($button-xxxsmall, $button-xsmall, $button-xsmall, $button-xxxsmall);
  }

  &.is-xsmall,
  &.is-tiny {
    @include buttonPadding($button-xtiny, $button-xxsmall, $button-xxsmall, $button-xtiny);
  }

  &.is-tiny {
    font-size: $font-size-xsmall;
  }
}
