<div class="card-actions {{ class }}">
    <div class="card-actions--button">
      {% include "@elements/buttons/button-secondary-light-small.twig" with { button: cardActions.firstButton, jsClass: "js-card-activity-delete" } %}
    </div>
    <div class="card-actions--button">
      {% include "@elements/buttons/button-call-to-action-small.twig" with { button: cardActions.secondButton } %}
    </div>
</div>