<section class="hero" style="background-image: url('{{ hero.image }}')">
    <div class="hero--content-wrapper">
      <div class="hero--content">
        <h1>{{ hero.lead }}</h1>
        <p>{{ hero.sub }}</p>
        <div class="hero--buttons">
          {% for button in hero.buttons %}
            <div class="hero--button">
              {% include "@elements/buttons/00-button.twig"  with {button: button} %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</section>