.button {
  display: inline-block;
  padding-bottom: $layout-spacing-small;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;
  padding-top: $layout-spacing-small;
  margin-bottom: $layout-spacing-small;
  margin-top: $layout-spacing-small;

  &.is-primary {
    background-color: $color-gray-light;
  }
  
  &.is-cta {
    background-color: $color-black;
    color: $color-white;
  }
}