{% block header %}
  {% include "components-header" %}
{% endblock %}

<main class="main">
{% block content %}
  {% block hero %}{% endblock %}
  {% block main %}
    <p>Content goes in here</p>
  {% endblock %}
</main>
{% endblock %}

{% include "components-footer" %}
