.call-to-action {
  text-align: center;
  width: 100%;

  &--text {
    font-size: $font-size-large;
    font-style: italic;
    margin-bottom: $spacing-pixel-small;
    margin-top: 0;
    text-align: center;
  }

  &--button {
    display: inline-block;
  }
}