<div class="contact-information {{ contactInformation.class }}">
  <div class="contact-information--info-block">
    {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-green-dark has-small-margin", color: "light" } } %}
    <div class="contact-information--text">
      <p class="contact-information--meta">Kontaktperson</p>
      <p class="contact-information--info">Louise Elkjær Kortegård</p>
    </div>
  </div>
  <div class="contact-information--info-block">
    {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-green-dark has-small-margin", color: "light" } } %}
    <div class="contact-information--text">
      <p class="contact-information--meta">Telefon</p>
      <p class="contact-information--info">12345678</p>
    </div>
  </div>
  <div class="contact-information--info-block">
    {% include "elements-icon" with { icon: { type: "chevron-small", class: "is-xtiny is-green-dark has-small-margin", color: "light" } } %}
    <div class="contact-information--text">
      <p class="contact-information--meta">Mail</p>
      <p class="contact-information--info">louise@genlydaarhus.dk</p>
    </div>
  </div>
</div>