<div class="filters js-filters">
  <div class="grid is-tight">
    <div class="grid--inner">
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Musik", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Mad og fællseskab", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Kurser og læring", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "IT", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Spil", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Natur", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Kunst og Kultur", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Litteratur", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Håndarbejde", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Motion", "class": "borderless" } } %}
      </article>
      <article class="grid--item">
        {% include "elements-checkbox" with {'checkbox': { "label": "Sport", "class": "borderless" } } %}
      </article>
    </div>
  </div>
</div>