<div class="footer-block">
  <div class="footer-block--inner">
    {% block title %}
      {% include "@elements/headings/footer-heading.twig" %}
    {% endblock %}
    {% block links %}
      {% include "@elements/footer-menu-link.twig" %}
    {% endblock %}
  </div>
</div>
