<div class="heading-with-icon">
  <div class="heading-with-icon--icon {{ headingWithIcon.iconClass }}">
    {% include '@elements/icons/icon.twig' with { icon: headingWithIcon.icon } %}
  </div>
  <div class="heading-with-icon--titles">
    <h1 class="heading-with-icon--title">{{ headingWithIcon.title }}</h1>
    <p class="heading-with-icon--subtitle">{{ headingWithIcon.subtitle }}</p>
  </div>
</div>