.heading-with-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  @include breakpoint($breakpoint-tablet) {
    max-width: 75%;
    text-align: left;
  }

  @include breakpoint($breakpoint-desk) {
    max-width: 60%;
  }

  &--title {
    font-size: $font-size-large;
    margin-bottom: $spacing-pixel-xxsmall;
    margin-top: 0;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: $spacing-pixel-xtiny;
    }
  }

  &--subtitle {
    color: $color-dark-alpha;
    margin-bottom: 0;
    margin-top: 0;
  }
}