<div class="heading-with-icon">
  <div class="heading-with-icon--icon {{ headingWithIcon.iconClass }}">
    {% block icon %}
      {% include "@elements/icons/icon-bulletin.twig" %}
    {% endblock %}
  </div>
  <div class="heading-with-icon--titles">
    <h1 class="heading-with-icon--title">{{ headingWithIcon.title }}</h1>
    <p class="heading-with-icon--subtitle">{{ headingWithIcon.subtitle }}</p>
  </div>
</div>
