.image-upload {
  position: relative;
  &:hover {
    .image-upload--overlay {
      @include breakpoint($breakpoint-desk) {
        opacity: 1;
      }
    }
  }

  &--overlay {
    background-color: $color-dark-alpha;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;

    &.has-hover {
      @include breakpoint($breakpoint-desk) {
        opacity: 0;
        transition: all .4s;
      }
    }
  }

  &--button {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}