<div class="social-buttons">
  <div class="social-buttons--button">
    {% include "elements-button-facebook" with { button: socialButtons.facebookButton } %}
  </div>
  <div class="social-buttons--button">
    {% include "elements-button-google" with { button: socialButtons.googleButton } %}
  </div>
</div>