<div class="social-buttons">
  <div class="social-buttons--button">
    {% include "@elements/buttons/button-facebook.twig" with { button: socialButtons.facebookButton } %}
  </div>
  <div class="social-buttons--button">
    {% include "@elements/buttons/button-google.twig" with { button: socialButtons.googleButton } %}
  </div>
</div>