<div class="text-with-icon">
  <div class="text-with-icon--icon">
    {% block icon %}
      {% include "@elements/icons/icon.twig" with { icon: textWithIcon.icon } %}
    {% endblock %}
  </div>
  <h3 class="text-with-icon--title">{{ textWithIcon.title }}</h3>
</div>