<div class="call-to-action">
  <p class="call-to-action--text center-text">
    {{ callToAction.text }}
  </p>
  <div class="call-to-action--button layout flex center">
    {% include 'elements-button' with { button: callToAction.button } %}
  </div>
</div>