{% extends "templates-site" %}
{% block content %}
  {% block hero %}{% endblock %}
  <div class="container">
    {% block main %}
        <p>Content goes in here</p>
    {% endblock %}
  </div>
{% endblock %}