<div class="introduction">
  <div class="l-heading-section no-spacing">
    {% include 'modules-heading-with-icon' with { headingWithIcon: introduction.headingWithIcon, icon: introduction.headingWithIcon.icon } %}
  </div>

  <div class="l-section has-bottom-margin">
    {% include 'modules-progress-bar' with { progressBar: introduction.progressBar } %}
  </div>
  <div class="l-cols">
    <div class="l-col half desk-up">
      {% include "elements-image" with {'class': 'has-margin', 'src': 'http://placehold.it/500x500'} %}
    </div>
    <div class="l-col half desk-up">
      <h2> {{introduction.heading}}</h2>
      <p>{{ introduction.text }}</p>
    </div>
  </div>
  <div class="l-section">  
    {% include 'modules-create-navigation' with { createNavigation: introduction.createNavigation } %}
  </div>
</div>
