<ul class="demo-colors">
  <li>
    <span class="demo-colors--swatch is-black-light"></span>
    <span class="demo-colors--label is-black-light"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-green-dark"></span>
    <span class="demo-colors--label is-green-dark"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-green-light"></span>
    <span class="demo-colors--label is-green-light"></span>
  </li>
  <li>
    <span class="demo-colors--swatch is-blue"></span>
    <span class="demo-colors--label is-blue"></span>
  </li>
</ul>